{{!-- <LinkTo @route="donate" class="badge"><span class="badge-text">DONATE</span></LinkTo> --}}
<a href="https://www.paypal.com/donate/?hosted_button_id=QBKZPZUUNVE68" target="_blank" rel="noopener"
  class="badge"><span class="badge-text">DONATE</span></a>