<p><a href="https://www.jennyjudova.com/">Built by Jenny Judova</a> //Published in 2020// <LinkTo
    @route="terms-and-conditions" class="a" aria-label="terms-and-conditions">Terms and
    Conditions
  </LinkTo> // <LinkTo @route="home" class="a" aria-label="home"><img src='logo-white.png'
      alt='climate art shaped like a cloud'>
  </LinkTo>
</p>