<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <li>
        <LinkTo @route="home" class="a">Home</LinkTo>
      </li>
      <li>
        <LinkTo @route="mission" class="a">Mission</LinkTo>
      </li>
      <li>
        <LinkTo @route="contact" class="a">Contact</LinkTo>
      </li>
    </ul>
  </div>
</nav>