<nav role="navigation" aria-labelledby="secondary-navigation" aria-label="Footer menu">
  <ul id="menu-footer" role="menubar">
    <li>
      <LinkTo @route="home" class="a" aria-label="Home">Home</LinkTo>
    </li>
    <li>
      <LinkTo @route="mission" class="a" aria-label="Mission">Mission</LinkTo>
    </li>
    <li>
      <LinkTo @route="projects" class="a" aria-label="Projects">Projects</LinkTo>
    </li>
    <li>
      <LinkTo @route="past-projects" class="a" aria-label="Past-Projects">Past Projects</LinkTo>
    </li>
    <li>
      <LinkTo @route="contact" class="a" aria-label="Contact">Contact</LinkTo>
    </li>
  </ul>
</nav>