<nav role="navigation">
  <ul id="menu-footer">
    <li>
      <LinkTo @route="home" class="a" aria-label="Home">Home</LinkTo>
    </li>
    <li>
      <LinkTo @route="exhibition" class="a" aria-label="Exhibition">Exhibition</LinkTo>
    </li>
    <li>
      <LinkTo @route="events" class="a" aria-label="Events">Events</LinkTo>
    </li>
    <li>
      <LinkTo @route="contact" class="a" aria-label="Contact">About Us</LinkTo>
    </li>
    <li>
      <LinkTo @route="donate" class="a-donate" aria-label="Donate">Donate</LinkTo>
    </li>
    <li>
      <a href="https://www.getrevue.co/profile/ClimateArt" target="_blank" rel="noopener noreferrer"
        class="a">Subscribe</a>
    </li>
  </ul>
</nav>