<nav role="navigation">
  <ul id="menu-footer">
    <li>
      <LinkTo @route="home" class="a">Home</LinkTo>
    </li>
    <li>
      <LinkTo @route="mission" class="a">Mission</LinkTo>
    </li>
    <li>
      <LinkTo @route="contact" class="a">Contact</LinkTo>
    </li>
  </ul>
</nav>