// $font: "Avenir Next", "Avenir", sans-serif;
$font:  'Inconsolata', monospace;
$background-color: #F9F9F9;
$font-color: #13070C;
$hover-navbar-font-color: #FF0101;
$h1-color: #13070C;
$h2-color: #0101FD;
$h2-color-background: #FFF001;
$h3-color-background: #FFF001;
$li-color: #FF0101;

// MENU
$menu-background: #0101FD;
$menu-font: #F9F9F9;
$kebab-1: #FF0101;
$kebab-2: #0101FD;
$kebab-3: #FF0101;
$burger-cross: #FF0101;

// CURSORS
$cursor-2: #0101FD;
$cursor-2-size: 30px;
$cursor-3: #FFF001;
$cursor-3-size: 20px;

// CIRCLES
$circle-1-color: #FFF001;
$circle-1-size: 400px;
$circle-2-color: #FF0101;
$circle-2-size: 250px;
$circle-4-size: 150px;

//HOVER
$social-media-hover:#FFF001;


// F9F9F9 - white
// 13070C - black
// FF0101 - red
// FFF001 - yellow
// 0101FD - blue
// 2E4756 - charcoal
// 16262E - gunmetal

@import "home";
@import "body";
@import "navbar";
@import "footer";
@import "contact";
@import "circles";
@import "tandc";
@import "projects.scss";
@import "404.scss";
