// $font: "Avenir Next", "Avenir", sans-serif;
$font:  'Inconsolata', monospace;
$background-color: #F9F9F9;
$font-color: #13070C;
$hover-navbar-font-color: #FF0101;
$h1-color: #13070C;
$h2-color: #0101FD;
$h2-color-background: #FFF001;
$li-color: #FF0101;

// MENU
$menu-background: #0101FD;
$menu-font: #F9F9F9;
$kebab-1: #FF0101;
$kebab-2: #0101FD;
$kebab-3: #FF0101;
$burger-cross: #FF0101;

// F9F9F9 - white
// 13070C - black
// FF0101 - red
// FFF001 - yellow
// 0101FD - blue
// 2E4756 - charcoal
// 16262E - gunmetal

@import "home";
@import "footer";
@import "body";
@import "navbar";
@import "contact";

