.article {
  padding-top: 25px;
  h2 {
    margin: 10px 0px;
    text-decoration: underline;
  }
  p {
    margin: 5px 0px;
  }
}

.article-text {
  h1 {
    color: $h1-color;
    margin: 0;
    font-size: 65px;
    margin-bottom: 20px;
  }
  h2 {
    text-transform:uppercase;
  }
  h3 {
    background: $yellow;
  }
  a {
    text-decoration: underline;
  }
  .yellow-highlight {
    background: $yellow;
  }
  .blue-font {
    color: $blue;
  }
  .red-font {
    color: $red;
  }
  .yellow-font {
    color: $yellow;
  }
  .back-button {
    background: $red;
    width: 70px;
    height: 70px;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 42%;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-family: $font;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .back-button:hover {
    color: $font-color;
    background: $yellow;
  }
}
