html {
  height: 100%;
}

body
{
  margin: 0;
  padding: 0;
  height: 100vh;

  /* make it look decent enough */
  background: $background-color;
  color: $font-color;
  font-family: $font;
}

.wrapper {
  // margin: 100px 300px 200px 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 100px;
  h1 {
    color: $h1-font;
  }ß
  h2 {
    color: $h2-font;
  }
  p {
    margin-bottom: 50px;
  }
}
