html {
  height: 100%;
  // overflow-x: hidden;

}

body
{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;

  background: $background-color;
  color: $font-color;
  font-family: $font;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 100px;
  h1 {
    color: $h1-color;
    margin: 0;
  }
  h2 {
    color: $h2-color;
  }
  p {
    font-size: 20px;
  }
  ul li {
    color: $li-color;
  }
  ul li span{
    color: $font-color;
  }
}
