html {
  height: 100%;
}

body
{
  margin: 0;
  padding: 0;
  height: 100vh;

  background: $background-color;
  color: $font-color;
  font-family: $font;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 100px;
  h1 {
    color: $h1-font;
    margin: 0;
  }
  h2 {
    color: $h2-font;
  }
  p {
    margin-bottom: 50px;
    font-size: 70px;
  }
}
