.email {
  display: flex;
  justify-content: flex-end;
  a {
    text-decoration: none;
    color: $h2-color;
  }
}

.social-media-logos {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  svg {
    height: 40px;
    width: 40px;
  }
  svg:hover {
    border-radius: 5px;
    background: $social-media-hover;
  }
  a {
    padding: 10px 10px 5px;
  }
  a:focus {
    border-radius: 5px;
    background: $social-media-hover;
  }
}

.contact-info {
  padding: 30px;
}

.jr-ds {
  width: 500px;
}

div {
  .support {
    margin: 50px 0px 25px 0px;
    p {
      font-size: 15px;
      margin: 5px;
    }
    span {
      color: $h2-color;
    }
  }
}

@media only screen and (max-width: 850px) {
  .email {
    padding-bottom: 0px;
  }

  .contact-info {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .email {
    padding-bottom: 0px;
  }

  .jr-ds {
    width: 260px;
  }

  .contact-info {
    padding: 0px;
  }

  div {
    .support {
      p {
        font-size: 12px;
      }
    }
  }
}

// @media only screen and (max-width: 500px) {
//   .jr-ds {
//     width: 280;
//   }
// }
