.columns {
  display: flex;
}

.add-padding {
  margin-right: 10%
}

.color {
  color: $blue
}

.current-project-wrapper {
  .text{

    p:hover {
      background-color: $yellow;
    }
    li:hover {
      background-color: $yellow;
    }
    .names {
      color: $red
    }

    .names:hover {
      color: $blue
    }
  }
  details {
    margin-bottom: 10px;
  }
  summary {
    padding: 10px;
    font-size: 28px;
  }
}

@media only screen and (max-width: 700px) {
  .columns {
    display: block;
  }
}
