.columns {
  display: flex;
}

.add-padding {
  margin-right: 10%
}

.color {
  color: $blue
}

.caption {
  margin-top: -80px;
  font-style: italic;
}

.current-project-wrapper {
  .ldf-icon{
    width: 100px;
    margin-bottom: 20px;
  }
  .quote{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .quote-text{
      font-style: italic;
    }
    .quote-author{
      color: blue;
      margin-top: 0px;
    }
  }

  .text{

    p:hover {
      background-color: $yellow;
    }
    li:hover {
      background-color: $yellow;
    }
    .names {
      color: $red
    }

    .names:hover {
      color: $blue
    }

    .names-no-hover{
      .names:hover {
        color: $red
      }
      padding-top: 20px;
    }

    .link {
      color: $blue
    }

    .link:hover {
      color: $red
    }
  }
  details {
    margin-bottom: 10px;
  }
  summary {
    padding: 10px;
    font-size: 28px;
  }
}

@media only screen and (max-width: 700px) {
  .columns {
    display: block;
  }
}
