footer {
  background: $menu-background;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: smaller;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-content: center;

  p {
    display: flex;
    justify-content: center;
    color: $menu-font;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    align-self: center;
  }

  img {
    height: 50px;
    align-self: center;
    margin-right: 5%;
  }
}

#menu-footer {
  list-style-type: none;
  display: flex;
  justify-content: center;
  .a {
    text-decoration: none;
    color: $menu-font;
    padding: 0 50px;
    font-weight: 1000;
    font-size: medium;
    letter-spacing: 1px;
  }
  .a:hover {
  color: $hover-navbar-font-color;
  }
}
