// .homewrapper {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   padding-left: 10%;
//   padding-right: 10%;
//   padding-bottom: 100px;
//   h1 {
//     color: $h1-color;
//     margin: 0;
//     font-size: 65px;
//     margin-bottom: 40px;
//   }
//   h2 {
//     color: $h2-color;
//   }
//   p {
//     margin: 0 0 50px 0;
//     font-size: 55px;
//     line-height: 65px;
//   }
// }

.project-logo {
  display: block;
  width: 1100px;
  height: auto;
  position: absolute;
  top: 15%;
  left: 15%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $background-color;
}

.homewrapper:hover .overlay {
  opacity: 1;
}

.homepage-text {
  color: $font-color;
  text-align: left;
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  h1 {
    color: $h1-color;
    margin: 0;
    font-size: 65px;
    margin-bottom: 20px;
  }
  h2 {
    color: $h2-color;
  }
  p {
    margin: 0 0 50px 0;
    font-size: 40px;
    line-height: 65px;
  }
}

@media only screen and (max-width: 1025px) {
  .homewrapper {
    .homepage-text {
      top: 35%;
    }
    .project-logo {
      width: auto;
    }
  }
}

@media only screen and (max-width: 850px) {
  .homewrapper {
    h1 {
      font-size: 65px;
      margin-bottom: 40px;
    }
    p {
      font-size: 40px;
      margin: 0 0 30px 0;
      line-height: 50px;
    }
    .project-logo {
      width: 550px;
    }
    .homepage-text {
      top: 45%;
      width: 500px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .homewrapper {
    h1 {
      font-size: 50px;
      margin-bottom: 20px;
    }
    p {
      font-size: 35px;
      margin: 0 0 25px 0;
      line-height: 45px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .homewrapper {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 28px;
    }
    .homepage-text {
      width: 350px;
    }
    .project-logo {
      width: 300px;
      top: 35%;
    }
  }
}

@media only screen and (max-width: 450px) {
  .homewrapper {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 20px;
    }
    .homepage-text {
      width: 350px;
      padding-top: 30px;
    }
    .project-logo {
      width: 300px;
      top: 30%;
    }
  }
}

@media only screen and (max-width: 380px) {
  .homewrapper {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
      line-height: 40px;
    }
    .project-logo {
      width: 300px;
      left: 10%;
      top: 30%;
    }
    .homepage-text {
      top: 50%;
      width: 300px;
    }
  }
}

@media only screen and (max-width: 370px) {
  .homewrapper {
    padding-right: 0px;
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 25px;
      line-height: 33px;
    }
  }
}

@media only screen and (max-width: 330px) {
  .homewrapper {
    .project-logo {
      width: 280px;
      left: 6%;
    }
  }
}

@media only screen and (max-width: 290px) {
  .homewrapper {
    .project-logo {
      width: 250px;
    }
    .homepage-text {
      width: 250px;
    }
  }
  p {
    font-size: 20px;
  }
}
