.t-and-c {
  padding: 0 5% 10% 5%;
}

@media only screen and (max-width: 900px) {
  .t-and-c {
    padding: 0 5% 20% 5%;
  }
}

@media only screen and (max-width: 500px) {
  .t-and-c {
    padding: 0 5% 30% 5%;
  }
}
