<nav role="navigation">
  <ul id="menu-footer">
    <li>
      <LinkTo @route="home" class="a" aria-label="Home">Home</LinkTo>
    </li>
    <li>
      <LinkTo @route="current-projects" class="a" aria-label="Current Project">Current Project</LinkTo>
    </li>
    <li>
      <LinkTo @route="audio-archive" class="a" aria-label="Audio-archive">Audio Archive</LinkTo>
    </li>
    <li>
      <LinkTo @route="past-projects" class="a" aria-label="Past-projects">Past Projects</LinkTo>
    </li>
    <li>
      <LinkTo @route="contact" class="a" aria-label="Contact">About Us</LinkTo>
    </li>
    <li>
      <LinkTo @route="donate" class="a-donate" aria-label="Donate">Support</LinkTo>
    </li>
  </ul>
</nav>