.fixed-title-header {
  background: yellow;
  color: red;
  padding: 1%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  h1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
  }
  h2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 20%;
  }
}
