<div class="footer-links">
  <p>Published in 2022// <LinkTo @route="terms-and-conditions" class="a" aria-label="terms-and-conditions">Terms and
      Conditions
    </LinkTo> // <LinkTo @route="home" class="a" aria-label="home"><img
        src='https://res.cloudinary.com/dqqou4dzd/image/upload/v1641152240/Climate%20Art%20images/logo/logo-white-small_ewzcgr.png'
        alt='climate art shaped like a cloud'>
    </LinkTo>
  </p>
</div>