<div class="project-index">
  {{#each @model as |project|}}
  <ProjectCard @project={{project}} />
  {{/each}}
</div>

{{!-- {{#each @model as |project|}}
<ProjectCard @project={{project}} />
{{/each}} --}}