<header>
  <Navbar />
</header>
<main>
  <div class='background-circle-1'></div>
  <div class='background-circle-2'></div>
  {{outlet}}
</main>
<footer>
  <div>
    <NavbarFooter />
    <p>Published in 2020</p>
  </div>
  <img
    src='https://uc0b824573b9f37a0e0021a3b941.previews.dropboxusercontent.com/p/thumb/AA2mbmoJGyvjZEe-rBDixNebGtJeHLdi3_WV-F1e2P09cgzq8IL1Qlecr1iZq30_-elAaXOy71pR6A1qJMKOB29SxGzeHkm0dUABsC5EispXNU_3fXSxq52pmKuZ0i2jPPT88tMZ51CyOB_jv2LPv8B7xfieZYrb790E5oSDXYHCUijqYh85taclC-VLiTLq2RPkCMECKnTq9ToPqaY8vrGrhaMWXGs9BgZz8vTgRIR9jiIjkYLj4R3haaIAYC4KOOmkfdJl82plJDNP6Qjf5Q7YewEqNy6-uE6ORpFQQCJ5LO_Q4bLfk1cUGzj1J5vq4i5Tqpg0e3WJuPzWACVUpfiDG6h-yRFo4IT8Kd5vWqmbFg/p.png?fv_content=true&size_mode=5'
    alt='climate art logo shaped like a cloud'>
</footer>