<header>
  <Navbar />
</header>
<main>
  <div class='background-circle-1'></div>
  <div class='background-circle-2'></div>
  {{outlet}}
</main>
<footer>
  <NavbarFooter />
  <p>Published in 2020</p>
</footer>