<header>
  <Navbar />
</header>
<main>
  <div class='background-circle-1'></div>
  <div class='background-circle-2'></div>
  {{outlet}}
</main>
<footer>
  <div>
    <NavbarFooter />
    <FooterLinks />
  </div>
  {{!-- <img src='logo-white.png' alt='climate art shaped like a cloud'> --}}
</footer>