<div class="wrapper" aria-label="Audio and podcast archive">
  <DonateButton />
  <div class="audio">
    <h2>AUDIO ARCHIVE</h2>
    <ul>
      <li><span>
          <h3><LinkTo class="names" @route="queer-trail" aria-label="queer-trail">Against Our Vanishing: A Queer Audio Trail of Rye</LinkTo></h3>
          <p>Created by Diarmuid Hester and David Bramwell as part of the Climate Art 2021 residency, this free audio trail uncovers the LGBTQ+ history and culture of the ancient town of Rye.</p>
        </span>
      </li>
      <li><span>
          <h3><LinkTo class="names" @route="project" @model="future-worlds">Future Worlds: Designing for a Changing Environment</LinkTo></h3>
          <p>Join Professor Hanif Kara, OBE (AKT II/Harvard), Gonzalo Herrero Delicado (Central St Martins), and Barry Wark (the Bartlett) for a discussion on the future of art, design,and architecture marking Climate Art’s 2021 commission for the Rye Harbour Nature Reserve.</p>
        </span>
      </li>
      <li><span>
          <h3><a href="https://www.ucl.ac.uk/made-at-ucl/podcasts/s3-ep2-navigating-arts" target="_blank" rel="noopener noreferrer" class="names">Made at UCL Podcast S3 Ep2</a></h3>
          <p>Dzmitry Suslau offers insights into Climate Art’s first cross-disciplinary residency and discusses new approaches to public art in the face of environmental change.</p>
        </span>
      </li>
        <ul>
          <li><a href="https://soundcloud.com/uclsound/madeatucl-season-3-navigating-the-arts" target="_blank" rel="noopener noreferrer"><span>Listen on Soundcloud</span></a></li>
          <li><a href="https://open.spotify.com/episode/0kXHthPqcrFPQCOBzZ8l3y?si=FNTafK9CRbKNO76ZkclTPw" target="_blank" rel="noopener noreferrer"><span>Listen on Spotify</span></a></li>
          <li><a href="https://podcasts.apple.com/gb/podcast/madeatucl-season-3-navigating-the-arts/id1623829105?i=1000566507240" target="_blank" rel="noopener noreferrer"><span>Listen on Apple Podcast</span></a></li>
        </ul>
    </ul>
  </div>
</div>