<div class="wrapper" aria-label="Contact and team about page">
  <Circles />
  <div class="contact-info">
    <div class="email" aria-label="Project email">
      <h3><a href="mailto:info@climateart.org.uk">info@climateart.org.uk</a></h3>
    </div>
    <div class="social-media-logos" aria-label="instagram and facebook logos">
      <a href="https://www.instagram.com/climateartuk/" target="_blank" rel="noopener noreferrer"
        aria-label="link to climate art instagram page">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="m75 512h362c41.355469 0 75-33.644531 75-75v-362c0-41.355469-33.644531-75-75-75h-362c-41.355469 0-75 33.644531-75 75v362c0 41.355469 33.644531 75 75 75zm-45-437c0-24.8125 20.1875-45 45-45h362c24.8125 0 45 20.1875 45 45v362c0 24.8125-20.1875 45-45 45h-362c-24.8125 0-45-20.1875-45-45zm0 0" />
          <path
            d="m256 391c74.4375 0 135-60.5625 135-135s-60.5625-135-135-135-135 60.5625-135 135 60.5625 135 135 135zm0-240c57.898438 0 105 47.101562 105 105s-47.101562 105-105 105-105-47.101562-105-105 47.101562-105 105-105zm0 0" />
          <path
            d="m406 151c24.8125 0 45-20.1875 45-45s-20.1875-45-45-45-45 20.1875-45 45 20.1875 45 45 45zm0-60c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15-15-6.730469-15-15 6.730469-15 15-15zm0 0" />
        </svg>
      </a>
      <a href="https://www.facebook.com/climateartuk/" target="_blank" rel="noopener noreferrer"
        aria-label="link to climate art facebook page">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="m75 512h167v-182h-60v-60h60v-75c0-41.355469 33.644531-75 75-75h75v60h-60c-16.542969 0-30 13.457031-30 30v60h87.292969l-10 60h-77.292969v182h135c41.355469 0 75-33.644531 75-75v-362c0-41.355469-33.644531-75-75-75h-362c-41.355469 0-75 33.644531-75 75v362c0 41.355469 33.644531 75 75 75zm-45-437c0-24.8125 20.1875-45 45-45h362c24.8125 0 45 20.1875 45 45v362c0 24.8125-20.1875 45-45 45h-105v-122h72.707031l20-120h-92.707031v-30h90v-120h-105c-57.898438 0-105 47.101562-105 105v45h-60v120h60v122h-137c-24.8125 0-45-20.1875-45-45zm0 0" />
        </svg>
      </a>
    </div>
  </div>
  <img class="jr-ds" src="jr-ds-update.jpg"
    alt="Dzmitry Suslau and Jevgenija Ravcova standing in front of large greenery in a park.">
  <div class="text" aria-label="About project organisers">
    <h2>Dzmitry Suslau</h2>
    <h3>Founding Director &amp; Curator</h3>
    <p> Dzmitry is a teaching fellow and a PhD candidate at UCL. Having contributed to exhibition research at the V&A
      and other cultural institutions he has long had an interest in art’s connection with personal, collective and
      social issues. He explored these topics through the work on public programmes and festivals, including the V&A
      Friday Late and queer arts festivals in Sweden and Eastern Europe. Since 2016 his research has been focused on
      human ecology, critical issues in public art and a broader connection between culture and climate change, which he
      addressed in a series of guest lectures internationally.</p>

    <h2>Jevgenija Ravcova</h2>
    <h3>Managing Director</h3>
    <p>
      Jevgenija has a background in art history (MA Courtauld Institute of Art) and several years’ experience creating
      and managing collaborative cultural projects with partners nationally and internationally.
      Recently, she has delivered a major heritage preservation research project with global
      partners such as UNESCO, Palace Museum in Beijing, The Louvre, The Smithsonian
      Institution and others. Her most recent project with partners in Dubai focuses on food
      security and sustainability in the face of climate change. Jevgenija has
      worked at Christie’s London and the Peggy Guggenheim Collection in Venice.
    </p>
  </div>
</div>