<TitleHeader @title="Halfway to the Sun." @description="A site-responsive urban air-filter for Somers Town."/>
<div class="red-blue-badge">
  <DonateButton />
</div>
{{!-- <ImageLarge @image="https://res.cloudinary.com/dqqou4dzd/image/upload/v1679831713/%D0%A1A-open-call_finished_u2uyli.jpg" @altText="Banner for the 2023 Art Comission for Somers Town" /> --}}
<div class="wrapper" aria-label="current project page">
  <div class="current-project-wrapper">
    {{!-- <img class="ldf-icon" src="https://res.cloudinary.com/dqqou4dzd/image/upload/v1694448549/LDF23_partnermark_RGB_Red_aoewu4.png" alt="London design festival"> --}}
    <div class="quote">
      <p class="quote-text">We probably have more data on local air quality than anywhere else on the planet. The question is how we use that data to make changes that improve our health. We have a right to breathe clean air in Somers Town.</p>
      <p class="quote-author">Slaney Devlin, Somers Town Neighbourhood Forum</p>
    </div>
  <div class="text">
    <p>Climate Art is currently working with acclaimed multidisciplinary artist David Rickard <a href="https://www.david-rickard.net/" target="_blank" rel="noopener noreferrer" class="link">David Rickard</a>  and the local communities of Somers Town to create 'Halfway to the Sun', a site-responsive public sculpture, urban air filter and community garden in the London Borough of Camden. Our aim is to create an artistic landmark celebrating the heritage and community of Somers Town and attracting wider public attention to this area’s main environmental concern: air pollution. We are collaborating with the local community on the artwork’s design and production.</p>
    <p>Somers Town is surrounded by heavily congested roads, including Euston Road, despite low levels of car ownership in Somers Town itself. This is a prime example of environmentally influenced health inequality, with exposure to air pollution adversely affecting multiple body systems. With the sculpture combining over 300 used wheels, it will embody around 45 million miles, a distance equivalent to halfway to the sun. When laid flat and interlocked together, the separate wheels will be united into a large spherical structure that is ideally suited to growing plants. The spherical form and porous nature of the sculpture will also enable airflow to pass through from any direction, enabling plants naturally to filter and oxygenate the passing air.</p>
    <p>This project is the culmination of two years of ongoing research and community collaboration. We are currently working with David Rickard and the wider community of Somers Town on the co-design of the installation through workshops and creative consultations to gain their insight and input into the project. ‘Halfway to the Sun’ will create a new ecosystem from previously polluting objects, reversing the flow from pollution to purification while engaging with local communities and ensuring a diversity of influences and practices in the development of the project.</p>

    {{!-- <p>Somers Town and the surrounding area have been subject to extensive development from the building of the Euston Road in the 1750s up to today. According to residents, construction has been almost constant since the 1960s and many of the current large-scale development projects are set to continue until 2033.</p>
    <p>The environmental impact over the decades has been severe, with increased air pollution and the loss of much-loved trees that stood for generations. While in recent years there has been some improvement in air quality, the data from local monitoring and sensor networks suggest that the levels of Fine Particles (PM2.5), Ozone (O3), and toxic Nitrogen dioxide (NO2) remain high, with the latter consistently exceeding the World Health Organization (WHO) limit for the protection of human health.</p>
    <p>Climate Art is currently working on a temporary artistic intervention on Charrington Street that would draw attention and offer creative solutions to this daily environmental concern, one that affects everyone but, in particular, vulnerable groups such as older people and young children.</p>
    <p>The proposed artwork was selected after the OPEN AIR! Exhibition, which took place at the P21 Gallery in Somers Town and showcased the ideas for the future piece envisaged by IVAAIU City and A-Axis Architects (Jihyun Lee, Sung-Su Park, Hancheol So, Hiroto Takeuchi, and Donguk Agos Lee), David Rickard, and Ling Tan and Usman Haque. The selection panel included two Somers Town residents committed to the positive transformation of their Neighbourhood. Finally, David Rickard’s proposal was selected and he is currently working with the wider community on the co-design of the work.</p> --}}
    {{!-- <details>
      <summary class='names'>Shortlisted Artists</summary>
      <div class="image-text">
        <h3><span class="red-highlight">David Rickard</span></h3>
        <p>Originally from New Zealand, <a href="https://www.david-rickard.net/" target="_blank" rel="noopener noreferrer" class="link">David Rickard</a> lives and works in London. With degrees in both architecture and fine art, he often explores the relationship between public art and the built environment through such diverse media as durational performance and sculpture. </p>
        <p>David has a long-standing interest in the air that surrounds and sustains us, resulting in works such as a 24-hour performance ‘Exhaust’, a site-responsive installation ‘A roomful of Air’ and a large collaborative project ’ International Airspace’.</p>
        <p>David’s work has been exhibited at, among others, Fortuny Museum, Venice; Castlefield Gallery, Manchester; Museum Kranenburgh, Netherlands; The Jerwood Space, London; NEST, The Hague; Weizmann Institute, Tel Aviv; Royal Society, London; Wellcome Collection, London.</p>
      </div>
      <div class="image-text">
        <h3><span class="red-highlight">Usman Haque and Ling Tan</span></h3>
        <p>Trained as an architect, <a href="https://haque.co.uk/" target="_blank" rel="noopener noreferrer" class="link">Usman Haque</a> is the founder and creative director of Umbrellium, a London-based design and build studio dedicated to transforming urban environments. His work embraces many disciplines, including design, architecture, the Internet of Things (IoT), urban community infrastructure, and large-scale public art/performance.</p>
        <p>He was appointed a Design Council Ambassador in 2021 and to the Mayor of London's Data for London Advisory Board in 2022. Usman's work has been shown at, among others, ICA, London; the Tokyo Metropolitan Museum of Photography; Barbican, London; Seoul Museum of Art; The Architectural League of New York; Science Gallery, Dublin; Netherlands Media Art Institute, Amsterdam.</p>
        <p><a href="https://lingql.com/" target="_blank" rel="noopener noreferrer" class="link">Ling Tan</a> is a UK-based Singaporean designer and artist working across social engagement, technology, citizen participation, and politics. Originally trained as an architect, her work explores citizens’ interaction with the built environment and our collective agency and responsibility in tackling complex issues surrounding our cities, such as public safety, air quality, climate change and gender safety.</p>
        <p>Ling is currently an Associate Artistic Director at Kakilang. Her work has been exhibited internationally, including at Centre Pompidou, Paris; Victoria and Albert Museum, London; Barbican, London; Somerset House, London; HeK, Basel; Fukuoka City Science Museum; Wits Art Museum, Johannesburg.</p>
      </div>
      <div class="image-text">
        <h3><span class="red-highlight">Jihyun Lee, Donguk Agos Lee, IVAAIU City/A-Axis Architects</span></h3>
        <p>Jihyun Lee is a head architect at A-Axis Architects in Seoul and has recently opened an office in London. She studied at the Architectural Association School of Architecture in London and worked at Squire and Partners. Her latest projects include the Namyang Fire Station and the fit-out of 42 Seoul Innovation Academy. Jihyun has recently set up the Untitled Void Gallery in Seoul.</p>
        <p>With a background in city planning (Massachusetts Institute of Technology), Donguk Agos Lee is the director and new media artist with the collective <a href="http://ivaaiu.com/" target="_blank" rel="noopener noreferrer" class="link">IVAAIU City</a> and an Architect at A-Axis Architects. His diverse practice spans audio-visual performance, new media installation, and future city design.</p>
      </div>
    </details> --}}
    {{!-- <details>
      <summary class='names'>About Somers Town</summary>
        <p>Somers Town is an inner-city district in North London that lies between two mainline railway termini, Euston and St Pancras International, and is bound by the Euston Road to the south and Oakley Square and Crowndale Road to the north. While mainly residential, Somers Town is home to some of Britain’s leading research and academic centres, including the British Library and the Francis Crick Institute of biomedical research. It is also moments away from both the UCL campus in Bloomsbury and Kings Cross, home to Central Saint Martins and one of London’s most vibrant tech hubs. </p>
        <p>Somers Town boasts some great examples of interwar-period social housing. The principal design feature of many blocks of flats in the area is the wide-ranging use of site-specific decorative art on façades and in courtyards created by a distinguished British sculptor Gilbert Bayes.</p>
        <p>Today, Somers Town has a truly diverse and tight-knit community with several active neighbourhood groups and associations hosting regular events and an annual festival. However, with high numbers of young and vulnerable residents and several ongoing large-scale construction projects, Somers Town faces pressing social and environmental challenges, ranging from child poverty to the loss of open green spaces. In October 2021, Somers Town was awarded a Future Neighbourhoods status by the GLA to help its residents address some of these issues.</p>
    </details> --}}
  </div>
  <figure>
    <ImageLarge @image="https://res.cloudinary.com/dqqou4dzd/image/upload/v1726521232/Climate_Art_and_David_Rickard_1_pbngg5.jpg" @altText="Workshop led by Climate Art and David Rickard in collaboration with Think & Do Camden. Photographs by Siobhan Bradshaw." />
    <figcaption class="caption">Workshop led by Climate Art and David Rickard in collaboration with Think & Do Camden. Photographs by Siobhan Bradshaw.</figcaption>
  </figure>
  <figure>
    <ImageLarge @image="https://res.cloudinary.com/dqqou4dzd/image/upload/v1726521232/Climate_Art_and_David_Rickard_2_zzgf6p.jpg" @altText="Workshop led by Climate Art and David Rickard in collaboration with Think & Do Camden. Photographs by Siobhan Bradshaw." />
    <figcaption class="caption">Workshop led by Climate Art and David Rickard in collaboration with Think & Do Camden. Photographs by Siobhan Bradshaw.</figcaption>
  </figure>
  <p>With thanks to</p>
    <ul class="no-bullets">
      <li class="horizontal-list">
        <a href="https://www.akt-uk.com/" target="_blank" rel="noopener noreferrer"><img src="https://res.cloudinary.com/dqqou4dzd/image/upload/f_auto/Climate%20Art%20images/logo/logo-AKTTwo_qhhvpf.png" alt="AKT II"></a>
      </li>
    </ul>
  </div>
</div>
