  <TitleHeader @title="OPEN AIR! A Public Art Commission for Somers Town"/>
<div class="red-blue-badge">
  <DonateButton />
</div>
{{!-- <ImageLarge @image="https://res.cloudinary.com/dqqou4dzd/image/upload/v1679831713/%D0%A1A-open-call_finished_u2uyli.jpg" @altText="Banner for the 2023 Art Comission for Somers Town" /> --}}
<div class="wrapper" aria-label="current project page">
  <div class="current-project-wrapper">
  <div class="text">
    <p>Climate Art is developing a new public art project for Central London. This temporary commission will draw attention and offer possible creative solutions to one of the key environmental concerns of the local community: poor air quality.</p>
    <p>We envisage the new Climate Art commission becoming a local landmark, celebrating Somers Town’s heritage and community and attracting visitors to Chalton Street and its open-air market.</p>
    <details>
      <summary class='names'>About Somers Town</summary>
        <p>Somers Town is an inner-city district in North London that lies between two mainline railway termini, Euston and St Pancras International, and is bound by the Euston Road to the south and Oakley Square and Crowndale Road to the north. While mainly residential, Somers Town is home to some of Britain’s leading research and academic centres, including the British Library and the Francis Crick Institute of biomedical research. It is also moments away from both the UCL campus in Bloomsbury and Kings Cross, home to Central Saint Martins and one of London’s most vibrant tech hubs. </p>
        <p>Somers Town boasts some great examples of interwar-period social housing. The principal design feature of many blocks of flats in the area is the wide-ranging use of site-specific decorative art on façades and in courtyards created by a distinguished British sculptor Gilbert Bayes.</p>
        <p>Today, Somers Town has a truly diverse and tight-knit community with several active neighbourhood groups and associations hosting regular events and an annual festival. However, with high numbers of young and vulnerable residents and several ongoing large-scale construction projects, Somers Town faces pressing social and environmental challenges, ranging from child poverty to the loss of open green spaces. In October 2021, Somers Town was awarded a Future Neighbourhoods status by the GLA to help its residents address some of these issues.</p>
    </details>
    <details>
      <summary class='names'>Environmental Context</summary>
      <div class="columns">
        <p class="add-padding">From the very building of the Euston Road in the 1750s right through to the ongoing construction of the north–south HS2 railway line, Somers Town and the surrounding area have been subject to extensive and continuous development. According to residents, since the 1960s, construction has been almost constant, and many of the current large-scale development projects are set to continue at least until 2033. This leads, among other things, to an increase in already high levels of traffic.</p>
        <p>Unsurprisingly, the environmental impact on Somers Town over the decades has been severe, involving the loss of mature trees and air-quality degradation. As evidenced by recent data, the levels of Fine Particles (PM2.5), Ozone (O3), and toxic Nitrogen dioxide (NO2) remain high, with the latter consistently exceeding the World Health Organization (WHO) limit for the protection of human health.</p>
      </div>
    </details>
    <details>
      <summary class='names'>Chalton Street</summary>
      <p>Running through central Somers Town, Chalton Street is dominated by an expansive early-1930s Grade II listed Ossulston Estate, whose design was inspired by European interwar social-housing projects. One of the principal locations of the annual Somers Town Festival, Chalton Street is also home to Somers Gallery, the Dar Al-Hikma Arabic bookshop, pubs and restaurants, and the open-air market. Once bustling with activity, the market has struggled to attract passing trade for several decades. Today, Chalton Street market is at the heart of a community-driven project aimed at providing the residents with enterprise skills, improving local access to fresh food and enhancing the local economy.</p>
    </details>
    <details>
    <summary class='names'>Climate Art Future Commission</summary>
    <p>Considering the latest developments in response to the climate crisis across art, architecture, and design – from biomimicry to computation - the future artwork will demonstrate ambition, adaptability, and a keen awareness of the future site. Offering potential creative solutions to the area’s pressing air pollution problem and challenging the conventional notion of ‘sustainability’, this public art commission is envisaged as a future landmark that would inspire Somers Town residents and visitors alike. </p>
    <p>Celebrating the local push for environmental justice and positive community-led transformation, the new public art project will also highlight the universality of the ecological and social challenges facing the area.</p>
    <ul>
      <li><span>Anticipated completion date - early 2024</span></li>
      <li><span>Expected duration in situ - at least one month</span></li>
      <li><span>Estimated production budget - £50,000</span></li>
      <li><span>Estimated artist’s fee - £10,000</span></li>
    </ul>
    </details>
    <details>
      <summary class='names'>Shortlisted Artists</summary>
      <div class="image-text">
        <h3><span class="red-highlight">David Rickard</span></h3>
        <p>Originally from New Zealand, <a href="https://www.david-rickard.net/" target="_blank" rel="noopener noreferrer" class="link">David Rickard</a> lives and works in London. With degrees in both architecture and fine art, he often explores the relationship between public art and the built environment through such diverse media as durational performance and sculpture. </p>
        <p>David has a long-standing interest in the air that surrounds and sustains us, resulting in works such as a 24-hour performance ‘Exhaust’, a site-responsive installation ‘A roomful of Air’ and a large collaborative project ’ International Airspace’.</p>
        <p>David’s work has been exhibited at, among others, Fortuny Museum, Venice; Castlefield Gallery, Manchester; Museum Kranenburgh, Netherlands; The Jerwood Space, London; NEST, The Hague; Weizmann Institute, Tel Aviv; Royal Society, London; Wellcome Collection, London.</p>
      </div>
      <div class="image-text">
        <h3><span class="red-highlight">Usman Haque and Ling Tan</span></h3>
        <p>Trained as an architect, <a href="https://haque.co.uk/" target="_blank" rel="noopener noreferrer" class="link">Usman Haque</a> is the founder and creative director of Umbrellium, a London-based design and build studio dedicated to transforming urban environments. His work embraces many disciplines, including design, architecture, the Internet of Things (IoT), urban community infrastructure, and large-scale public art/performance.</p>
        <p>He was appointed a Design Council Ambassador in 2021 and to the Mayor of London's Data for London Advisory Board in 2022. Usman's work has been shown at, among others, ICA, London; the Tokyo Metropolitan Museum of Photography; Barbican, London; Seoul Museum of Art; The Architectural League of New York; Science Gallery, Dublin; Netherlands Media Art Institute, Amsterdam.</p>
        <p><a href="https://lingql.com/" target="_blank" rel="noopener noreferrer" class="link">Ling Tan</a> is a UK-based Singaporean designer and artist working across social engagement, technology, citizen participation, and politics. Originally trained as an architect, her work explores citizens’ interaction with the built environment and our collective agency and responsibility in tackling complex issues surrounding our cities, such as public safety, air quality, climate change and gender safety.</p>
        <p>Ling is currently an Associate Artistic Director at Kakilang. Her work has been exhibited internationally, including at Centre Pompidou, Paris; Victoria and Albert Museum, London; Barbican, London; Somerset House, London; HeK, Basel; Fukuoka City Science Museum; Wits Art Museum, Johannesburg.</p>
      </div>
      <div class="image-text">
        <h3><span class="red-highlight">Jihyun Lee, Donguk Agos Lee, IVAAIU City/A-Axis Architects</span></h3>
        <p><a href="http://ivaaiu.com/" target="_blank" rel="noopener noreferrer" class="link">Jihyun Lee</a> is a head architect at A-Axis Architects in Seoul and has recently opened an office in London. She studied at the Architectural Association School of Architecture in London and worked at Squire and Partners. Her latest projects include the Namyang Fire Station and the fit-out of 42 Seoul Innovation Academy. Jihyun has recently set up the Untitled Void Gallery in Seoul.</p>
        <p>With a background in city planning (Massachusetts Institute of Technology), Donguk Agos Lee is the director and new media artist with the collective IVAAIU City and an Architect at A-Axis Architects. His diverse practice spans audio-visual performance, new media installation, and future city design.</p>
      </div>
    </details>
  </div>
  </div>
</div>