  <TitleHeader @title="OPEN AIR! A Public Art Commission for Somers Town" @description="Call for expressions of interest" />
<div class="red-blue-badge">
  <DonateButton />
</div>
{{!-- <ImageLarge @image="https://res.cloudinary.com/dqqou4dzd/image/upload/v1679831713/%D0%A1A-open-call_finished_u2uyli.jpg" @altText="Banner for the 2023 Art Comission for Somers Town" /> --}}
<div class="wrapper" aria-label="current project page">
  <div class="current-project-wrapper">
  <div class="text">
    <p>Climate Art is delighted to invite expressions of interest from artists, architects, and designers to work on a new public art project.</p>
    <p>Successful applicants will have a paid opportunity to develop their idea into a proposal for an innovative site-responsive work for Chalton Street in Somers Town, Central London. This temporary commission should draw attention and offer possible creative solutions to one of the key environmental concerns of the local community: poor air quality. </p>
    <p>We envisage the new Climate Art commission becoming a local landmark, celebrating Somers Town’s heritage and community and attracting visitors to Chalton Street and its open-air market.</p>
    <details>
      <summary class='names'>About Somers Town</summary>
        <p>Somers Town is an inner-city district in North London that lies between two mainline railway termini, Euston and St Pancras International, and is bound by the Euston Road to the south and Oakley Square and Crowndale Road to the north. While mainly residential, Somers Town is home to some of Britain’s leading research and academic centres, including the British Library and the Francis Crick Institute of biomedical research. It is also moments away from both the UCL campus in Bloomsbury and Kings Cross, home to Central Saint Martins and one of London’s most vibrant tech hubs. </p>
        <p>Somers Town boasts some great examples of interwar-period social housing. The principal design feature of many blocks of flats in the area is the wide-ranging use of site-specific decorative art on façades and in courtyards created by a distinguished British sculptor Gilbert Bayes.</p>
        <p>Today, Somers Town has a truly diverse and tight-knit community with several active neighbourhood groups and associations hosting regular events and an annual festival. However, with high numbers of young and vulnerable residents and several ongoing large-scale construction projects, Somers Town faces pressing social and environmental challenges, ranging from child poverty to the loss of open green spaces. In October 2021, Somers Town was awarded a Future Neighbourhoods status by the GLA to help its residents address some of these issues.</p>
    </details>
    <details>
      <summary class='names'>Environmental Context</summary>
      <div class="columns">
        <p class="add-padding">From the very building of the Euston Road in the 1750s right through to the ongoing construction of the north–south HS2 railway line, Somers Town and the surrounding area have been subject to extensive and continuous development. According to residents, since the 1960s, construction has been almost constant, and many of the current large-scale development projects are set to continue at least until 2033. This leads, among other things, to an increase in already high levels of traffic.</p>
        <p>Unsurprisingly, the environmental impact on Somers Town over the decades has been severe, involving the loss of mature trees and air-quality degradation. As evidenced by recent data, the levels of Fine Particles (PM2.5), Ozone (O3), and toxic Nitrogen dioxide (NO2) remain high, with the latter consistently exceeding the World Health Organization (WHO) limit for the protection of human health.</p>
      </div>
    </details>
    <details>
      <summary class='names'>Chalton Street</summary>
      <p>Running through central Somers Town, Chalton Street is dominated by an expansive early-1930s Grade II listed Ossulston Estate, whose design was inspired by European interwar social-housing projects. One of the principal locations of the annual Somers Town Festival, Chalton Street is also home to Somers Gallery, the Dar Al-Hikma Arabic bookshop, pubs and restaurants, and the open-air market. Once bustling with activity, the market has struggled to attract passing trade for several decades. Today, Chalton Street market is at the heart of a community-driven project aimed at providing the residents with enterprise skills, improving local access to fresh food and enhancing the local economy.</p>
    </details>
    <details>
    <summary class='names'>Climate Art Future Commission</summary>
    <p>Considering the latest developments in response to the climate crisis across art, architecture, and design – from biomimicry to computation - the future artwork will demonstrate ambition, adaptability, and a keen awareness of the future site. Offering potential creative solutions to the area’s pressing air pollution problem and challenging the conventional notion of ‘sustainability’, this public art commission is envisaged as a future landmark that would inspire Somers Town residents and visitors alike. </p>
    <p>Celebrating the local push for environmental justice and positive community-led transformation, the new public art project will also highlight the universality of the ecological and social challenges facing the area.</p>
    <ul>
      <li><span>Anticipated completion date - early 2024</span></li>
      <li><span>Expected duration in situ - at least one month</span></li>
      <li><span>Estimated production budget - £50,000</span></li>
      <li><span>Estimated artist’s fee - £10,000</span></li>
    </ul>
    </details>
    <details>
    <summary class='names'>How to apply</summary>
    <p>In expressions of interest, we would like the applicants to consider the role of Chalton Street as a site of an open-air market, a community hub, and a meeting point, located just a stone’s throw from one of London’s busiest thoroughfares.</p>
    <p>Shortlisted applicants will receive £1,000 towards developing their proposals and benefit from structural engineering guidance from AKT II, a London design-led structural and civil engineering firm.</p>
    <p class="color">The expressions of interest should be sent as a single document and include the following:</p>
    <ul >
      {{!-- template-lint-disable no-nested-interactive --}}
      <li><span>A CV of no more than two pages</span></li>
      <li><span>A cover letter outlining the applicant's interest in working on this project and highlighting relevant experience (no more than 500 words)</span></li>
      <li><span>A 10-page portfolio demonstrating relevant previous work, including information on scale, budget and commissioners, if applicable</span></li>
    </ul>
    <p class="color">The closing deadline for applications is 12 May 2023 at midnight BST.</p>
    {{!-- template-lint-disable no-nested-interactive --}}
    <p>Please submit applications by email to <u><a class="project-email" href="mailto:info@climateart.org.uk">info@climateart.org.uk</a></u></p>
    </details>
    <details>
      <summary class='names'>Selection Panel</summary>
      <Lists::NoBullets>
        <div class="names-no-hover">
          <li><span class="names">Dzmitry Suslau</span><span>, Creative Director, Climate Art</span></li>
          <li><span class="names">Ema Howling</span><span>, Climate Action Fund Project Worker, The St Pancras & Somers Town Living Centre</span></li>
          <li><span class="names">Hanif Kara OBE</span><span>, Founder, AKT II, Professor in Practice of Architectural Technology, Harvard GSD</span></li>
          <li><span class="names">Michael Pinsky</span><span>, Multidisciplinary Visual Artist</span></li>
          <li><span class="names">Slaney Devlin</span><span>, Chair, Somers Town Neighbourhood Forum</span></li>
        </div>
      </Lists::NoBullets>
    </details>
  </div>
  </div>
</div>