<TitleHeader @title="Halfway to the Sun" @description="A site-responsive urban sculpture for Somers Town."/>
<div class="red-blue-badge">
  <DonateButton />
</div>
<div class="wrapper" aria-label="current project page">
  <div class="current-project-wrapper">
    <div class="quote">
      <p class="quote-text">We probably have more data on local air quality than anywhere else on the planet. The question is how we use that data to make changes that improve our health. We have a right to breathe clean air in Somers Town.</p>
      <p class="quote-author">Slaney Devlin, Somers Town Neighbourhood Forum</p>
    </div>
  <div class="text">
    <p>Climate Art is currently working with acclaimed multidisciplinary artist David Rickard <a href="https://www.david-rickard.net/" target="_blank" rel="noopener noreferrer" class="link">David Rickard</a>  and the local communities of Somers Town to create 'Halfway to the Sun', a site-responsive public sculpture, urban air filter and community garden in the London Borough of Camden. Our aim is to create an artistic landmark celebrating the heritage and community of Somers Town and attracting wider public attention to this area’s main environmental concern: air pollution. We are collaborating with the local community on the artwork’s design and production.</p>
    <p>Somers Town is surrounded by heavily congested roads, including Euston Road, despite low levels of car ownership in Somers Town itself. This is a prime example of environmentally influenced health inequality, with exposure to air pollution adversely affecting multiple body systems. With the sculpture combining over 300 used wheels, it will embody around 45 million miles, a distance equivalent to halfway to the sun. When laid flat and interlocked together, the separate wheels will be united into a large spherical structure that is ideally suited to growing plants. The spherical form and porous nature of the sculpture will also enable airflow to pass through from any direction, enabling plants naturally to filter and oxygenate the passing air.</p>
    <p>This project is the culmination of two years of ongoing research and community collaboration. We are currently working with David Rickard and the wider community of Somers Town on the co-design of the installation through workshops and creative consultations to gain their insight and input into the project. ‘Halfway to the Sun’ will create a new ecosystem from previously polluting objects, reversing the flow from pollution to purification while engaging with local communities and ensuring a diversity of influences and practices in the development of the project.</p>
  </div>
  <figure>
    <ImageLarge @image="https://res.cloudinary.com/dqqou4dzd/image/upload/v1726596395/Climate_Art_and_David_Rickard_2_g3cmkm.jpg" @altText="Workshop led by Climate Art and David Rickard in collaboration with Think & Do Camden. Photographs by Siobhan Bradshaw." />
    <figcaption class="caption">Workshop led by Climate Art and David Rickard in collaboration with Think & Do Camden. Photographs by Siobhan Bradshaw.</figcaption>
  </figure>
  <figure>
    <ImageLarge @image="https://res.cloudinary.com/dqqou4dzd/image/upload/v1726521232/Climate_Art_and_David_Rickard_1_pbngg5.jpg" @altText="Workshop led by Climate Art and David Rickard in collaboration with Think & Do Camden. Photographs by Siobhan Bradshaw." />
    <figcaption class="caption">Workshop led by Climate Art and David Rickard in collaboration with Think & Do Camden. Photographs by Siobhan Bradshaw.</figcaption>
  </figure>
  <p>With thanks to</p>
    <ul class="no-bullets">
      <li class="horizontal-list">
        <a href="https://www.akt-uk.com/" target="_blank" rel="noopener noreferrer"><img src="https://res.cloudinary.com/dqqou4dzd/image/upload/f_auto/Climate%20Art%20images/logo/logo-AKTTwo_qhhvpf.png" alt="AKT II"></a>
      </li>
    </ul>
  </div>
</div>
