<div class="wrapper" aria-label="Mission page">
  <div class="donation-wrapper">
    <Circles />
  </div>
  <div class="text">
    <h2>SUPPORT OUR CLIMATE ARTISTS TODAY</h2>
    <p> Donate to Climate Art, and your gift will help to fund some of the most exciting creative practitioners and
      researchers working in the UK today.</p>
    <button onclick="location.href='https://www.paypal.com/donate?hosted_button_id=QBKZPZUUNVE68'">Give via
      PayPal</button>
    <p>Our artists will transform your generosity into innovative sculptures, installations and experiences – sparking
      debates, promoting the environment and changing people’s behaviour to protect the planet. Climate art often uses
      radical materials and cutting-edge techniques, so your donation will leave an impact on art too by showing the
      creative possibilities of sustainability.</p>
    <p>By giving now, you will play a central role in bringing together communities, artists and scientists to shape
      conversations about climate change and what we can all do to solve it. Read all about our latest residency here,
      featuring the artists Alistair Debling, Mo Langmuir, and Joseph Williams.</p>
    <p>Whether you choose to give a one-off donation or a regular amount, your gift will help to create the
      environmental art of the future. Once your contribution goes through, you will be directed to a page featuring the
      fun retro game Snake. This is our way of thanking you, so enjoy!</p>

    <h3 class='names'>Donate online</h3>
    <p>You can give now via Paypal. It only takes a few minutes, but your donation could have a long-term impact on
      the
      health of our planet by helping to highlight issues such as air pollution or flooding.</p>

    <h3 class='names'>Donate via bank transfer</h3>
    <p>Donate via bank transfer
      Please get in touch so we can share our bank details with you. We are happy to accept payment by monthly
      standing
      order, as well as single gifts. Thank you.</p>
  </div>
</div>