<div class="wrapper" aria-label="Donation page">
  <Circles />
  <div class="text" aria-label="How to donate to Climate Art">
    <h2>Donate to Climate Art</h2>
    <p>We welcome one-off or regular donations of your chosen amount.

      Every gift, no matter the size, makes a big difference.</p>
    <h3>To donate with a debit credit card: </h3>
    <p>Please visit our PayPal donation page.</p>
    <h3>To donate via a bank transfer:</h3>
    <p>Please get in <a href="mailto:info@climateart.org.uk">touch</a> so we can share our bank details with you. We are
      happy to accept payment by monthly standing
      order, as well as lump sums.</p>
  </div>
</div>