<div class="wrapper" aria-label="Events page">
  <DonateButton />
  {{!-- <Circles /> --}}
  <div class="text">
    <h1>A VANISHED SEA: CLIMATE LABS</h1>
    <p>A FREE EARLY MAY BANK HOLIDAY PROGRAMME 2-3 MAY</p>
    <div>
      <h2>JOSEPH’S CADDY WAGON</h2>
      <p>Dates: <b class='names'>2-3 May 2021</b></p>
      <p>Time: <b class='names'>All day</b></p>
      <p>Location: <b class='names'>Bridgepoint Rye, Rock Channel (via St Margaret’s Terrace), Rye, TN31 7DE</b></p>
      <details>
        <summary>Joseph Williams is an East Sussex artist with a background in architectural design. He is passionate
          about the potential of bamboo as a sustainable and stunning building material for the future. Working in
          consultation with the groundbreaking design-led engineering firm AKT II, he will build a temporary bamboo
          structure in the Rye Harbour Nature Reserve. Responding to the local landscape, it will serve as a space for
          different community groups to come together.</summary>
        <p>Take a walk to the Bridgepoint Rye Creative Arts Centre and keep your eyes peeled for Joseph’s Caddy Wagon
          parked outside! This simple yet elegant structure is made out of organic, sustainable materials. Described by
          the artist as a “bamboo and canvas Chitty Chitty Bang Bang”, it shows off just how versatile, sustainable
          materials can be in creating a dynamic, adaptable shelter fit for adventure!</p>

        <p>The Caddy Wagon is an example of Joseph’s past work, part of his Bamboology series. It offers a glimpse into
          a
          greener future, where beautiful structures are created using viable and sustainable materials which stand in
          harmony with the natural environment.</p>

        <p>Want to learn more about the power of bamboo? Visit us at the Bridgepoint Creative Arts Centre on 3 May,
          where
          you’ll have the opportunity to take an up-close look at the Caddy Wagon, and chat to Joe about his creative
          process.</p>
      </details>
    </div>
    <br />
    <div>
      <h2>A STUDIO SESSION WITH MO AND ALISTAIR</h2>
      <p>Dates: <b class='names'>3 May 2021</b></p>
      <p>Time: <b class='names'>6:00-7:00pm</b></p>
      <p>Location: <b class='names'><a href="https://us02web.zoom.us/j/81175849692">Zoom</a></b></p>
      <p>Moderated by Climate Art Curator Dzmitry Suslau</p>
      <details>
        <summary>Mo Langmuir is a London-based artist with a background in environmental biology. Her work strives to
          break down the binary between art and science through collaboration with local communities.</summary>
        <p>Mo’s work at Climate Art will centre around balloon mapping and marine sampling. She will be investigating
          diatoms, the beautiful single-celled algae vitally important for life on Earth. Providing around 25% of the
          world’s oxygen, they are present in every water system. Working with Rye’s resident groups to map out sites
          for biological sampling, Mo will use microscopy to generate beautiful interpretations of these unseen local
          community members threatened by climate change.</p>

        <p>Mo’s studio is where she combines her passions for biological research and artistic creation. This space is
          half research lab, half artist atelier, and on 3 May, she’ll be opening it up to the public for a virtual
          tour, sharing methodologies, sampling equipment, mapping tools and sketches.</p>

        <p>If you’re interested in learning more about Mo’s artistic process, sign up with the link above.</p>
      </details>
    </div>
  </div>
</div>