<div class="wrapper" aria-label="Events page">
  <DonateButton />
  {{!-- <Circles /> --}}
  <div class="text">
    <h1>A VANISHED SEA: CLIMATE LABS</h1>
    <div>
      <h2>Climate Art Cloudscape Textile Printing with Sarah Desmarais</h2>
      <p>Dates: <b class='names'>2 June 2021</b></p>
      <p>Time: <b class='names'>10:00 am – 4:00 pm BST</b></p>
      <p>Location: <b class='names'>Rye Creative Centre, New Rd, Rye TN31 7LS</b>
      </p>
      <details>
        <summary>Climate Art invites you to join a free drop-in workshop led by Sarah Desmarais – a designer-maker and
          researcher working with slow, sustainable print processes.
          You’ll have the opportunity to try out a centuries-old Japanese resist-printing technique involving stencil
          cutting, printing with a rice paste resist, and indigo dyeing. This slow print process offers a rare
          opportunity to rethink our relationship with fast fashion and the environmental repercussions of textile
          production while reconnecting with the natural world.</summary>
        <img src="textile1.jpg" alt="Example of Textile Printing with Sarah Desmarais.">
        <p>The workshop will be organised in a covid-secure way, out of doors or in a well-ventilated indoor space.
          Suitable for all age groups (children must be supervised).
          All materials will be provided free of charge.</p>
        <img src="textile2.jpg" alt="Example of Textile Printing with Sarah Desmarais.">
        <h3>About Sarah Desmarais</h3>
        <p>The recipient of a 2019 Queen Elizabeth Scholarship Trust award, Sarah Desmarais has recently undertaken
          artist residencies with Bow Arts and the Museum of Domestic Design and Architecture. She also supervises
          postgraduate research at the Royal College of Art.</p>
      </details>
    </div>
  </div>
  <br />
  <div class="past-project-link">
    <LinkTo @route="past-projects" class="a">
      <h3>Past Events</h3>
    </LinkTo>
  </div>
</div>