<div class="wrapper" aria-label="Events page">
  <DonateButton />
  {{!-- <Circles /> --}}
  <div class="text">
    <h1>A VANISHED SEA: CLIMATE LABS</h1>
    <div>
      <LinkTo @route="queer-trail" class="a">
        <h2>Against Our Vanishing: A Queer Audio Trail of Rye</h2>
      </LinkTo>
      <p>Date: <b class='names'><a href="audio/vanishing-tour.mp3" download>Always available just download the audio
            trail</a></b></p>
      <p>Location: <b class='names'>In the town of Rye or anywhere you are</b>
      </p>
      <details>
        <summary>Against Our Vanishing is a free audio trail that uncovers the LGBTQ+ history and culture of Rye. Delve
          into the rich queer undercurrents of the town in the company of its famous writers and artists like Henry
          James and Radclyffe Hall. Walk in the footsteps of the queer people of Rye, whose lives are interwoven with
          its streets and East Sussex’s vanishing coastline.</summary>
        <div class="image">
          <img src="tour-map-web.webp" alt="Map of the Against Our Vanishing: A Queer Audio Trail of Rye">
        </div>
        <p>Against Our Vanishing is a Climate Art commission, created by Diarmuid Hester and produced by David Bramwell,
          generously supported by BridgePoint Rye and developed in partnership with National Trust.
        </p>
        <p><a href="audio/vanishing-tour.mp3" download>Download the trail</a></p>
        <p>iPhone users: Safari streams the audio trail file instead of downloading it. To minimise the risk of
          interruptions caused by signal dropout, download the file to your computer then transfer it to your iPhone via
          iTunes or similar.</p>
        <h3>Creative Team</h3>
        <p>The creator of Against Our Vanishing is academic, writer, and broadcaster, Dr Diarmuid Hester. Dr Hester
          researches LGBTQ+ culture and space at the University of Cambridge, and his work has been featured on BBC
          Radio 3 and Ireland’s RTÉ Radio 1. In 2020 he was named one of ten BBC New Generation Thinkers, defined as ‘an
          academic who brings the best of scholarly research to a broad audience’. Dr Hester’s new book, Nothing Ever
          Just Disappears: A New History of Queer Culture Through its Spaces will be published by Allen Lane/Penguin in
          2023.</p>
        <p>David Bramwell is an award-winning performer and producer who has worked with BBC Radio for many years. As a
          monologist he has toured several solo shows and performed at Soho Theatre, Somerset House, The De La Warr
          Pavilion, Tate St Ives, TEDx,WI, Idler Academy, MOMA, Wilderness and Port Eliot festivals and the Lowry
          Theatre.</p>
      </details>
    </div>
    <div>
      <h2>Future Worlds: Designing for a Changing Environment</h2>
      <p>Date: <b class='names'>26 June 2021</b></p>
      <p>Time: <b class='names'>3:00 pm – 4:00 pm BST</b></p>
      <p>Location: <b class='names'><a href="https://rye.sussexwildlifetrust.org.uk/discovery-centre" target="_blank"
            rel="noopener noreferrer">Rye Harbour Discovery Centre</a>, Harbour Rd, Rye, East Sussex, TN31 7FW</b>
      </p>
      <details>
        <summary>To mark the launch of Joseph William's site-responsive temporary installation at Rye Harbour Nature
          Reserve, join us for a panel debate exploring alternative ecological approaches for designing our future built
          environments, beyond mainstream notions of sustainability.</summary>
        <div class="image">
          <img src="f-w.jpeg" alt="Drawing of antenna on a blue background.">
        </div>
        <p>A multidisciplinary panel of experts including Barry Wark (Director of Biophile and Lecturer at Bartlett
          School of Architecture), Hanif Kara (Director and Co-Founder of AKT II, and Professor at Harvard GSD), and
          moderated by Gonzalo Herrero Delicado (Curator and Lecturer at Central Saint Martins), will examine how we can
          respond through design research to a rapidly changing world and the current climatic emergency. More Speakers
          to be announced soon</p>
        <p>Places are limited - <a
            href="https://www.eventbrite.co.uk/e/future-worlds-designing-for-a-changing-environment-tickets-157542366459"
            target="_blank" rel="noopener noreferrer">register now</a></p>
      </details>
    </div>
  </div>
  <br />
  <div class="past-project-link">
    <LinkTo @route="past-projects" class="a">
      <h3>Past Events</h3>
    </LinkTo>
  </div>
</div>