<div class="wrapper" aria-label="Events page">
  <DonateButton />
  {{!-- <Circles /> --}}
  <div class="text">
    <h1>A VANISHED SEA: CLIMATE LABS</h1>
    <div>
      <h2>Future Worlds: Designing for a Changing Environment</h2>
      <p>Date: <b class='names'>26 June 2021</b></p>
      <p>Time: <b class='names'>3:00 pm – 4:00 pm BST</b></p>
      <p>Location: <b class='names'>Rye Harbour Discovery Centre, Harbour Rd, Rye, East Sussex, TN31 7FW</b>
      </p>
      <details>
        <summary>To mark the launch of Joseph William's site-responsive temporary installation at Rye Harbour Nature
          Reserve, join us for a panel debate exploring alternative ecological approaches for designing our future built
          environments, beyond mainstream notions of sustainability.</summary>
        <div class="image">
          <img src="f-w.jpeg" alt="Drawing of antenna on a blue background.">
        </div>
        <p>A multidisciplinary panel of experts including Barry Wark (Director of Biophile and Lecturer at Bartlett
          School of Architecture), Hanif Kara (Director and Co-Founder of AKT II, and Professor at Harvard GSD), and
          moderated by Gonzalo Herrero Delicado (Curator and Lecturer at Central Saint Martins), will examine how we can
          respond through design research to a rapidly changing world and the current climatic emergency. More Speakers
          to be announced soon</p>
        <p>Places are limited - <a
            href="https://www.eventbrite.co.uk/e/future-worlds-designing-for-a-changing-environment-tickets-157542366459"
            target="_blank" rel="noopener noreferrer">register now</a></p>
      </details>
    </div>
  </div>
  <br />
  <div class="past-project-link">
    <LinkTo @route="past-projects" class="a">
      <h3>Past Events</h3>
    </LinkTo>
  </div>
</div>