<TitleHeader @title="Halfway to the Sun" @description="Exhibition"/>
  <DonateButton />
  <ImageLarge @image='https://res.cloudinary.com/dqqou4dzd/image/upload/v1767893720/Climate%20Art%20images/Halfway-to-the-Sun_invite-film-looped_evybpf.gif' @altText='gif of a car wheel spinning' />
<div class="wrapper" aria-label="exhibition page">
  <div class="current-project-wrapper">
  <div class="text text-no-hover">
    <h3>DATES</h3>
    <p>Friday 6 - Friday 20, February 2026</p>
    <h3>HOURS</h3>
    <p>Thursday - Saturday</p>
    <p>12:00pm -5:00pm</p>
    <h3>GALLERY</h3>
    <p>Somers Gallery</p>
    <p>96 Chalton St, London NW1 1HJ</p>
  </div>
  <p>Halfway to the Sun is a continuation of the proposal by Climate Art and David Rickard. The exhibition shows the artist’s thinking behind a site-responsive public sculpture, urban air filter, and community garden addressing the pressing air quality concerns of the Somers Town residents in the heart of London.</p>
  <h3><LinkTo class="hoveryellowred"  @route="current-projects" aria-label="current-project link">MORE INFO</LinkTo></h3>
  <p>With thanks to</p>
    <ul class="no-bullets">
      <li class="horizontal-list">
        <a href="https://www.akt-uk.com/" target="_blank" rel="noopener noreferrer"><img style="height: 50px; width: 50px; margin-right: 10px;" src="https://res.cloudinary.com/dqqou4dzd/image/upload/f_auto/Climate%20Art%20images/logo/logo-AKTTwo_qhhvpf.png" alt="AKT II"></a>
      </li>
      <li class="horizontal-list">
        <a href="https://www.eustontown.com/" target="_blank" rel="noopener noreferrer"><img style="height: 35px; width: 85px; padding-bottom: 5px; margin-right: 10px;" src="https://res.cloudinary.com/dqqou4dzd/image/upload/v1727461126/euston-town_k3sinj.png" alt="Euston town logo"></a>
      </li>
      <li class="horizontal-list">
        <a href="https://transition.vc/" target="_blank" rel="noopener noreferrer"><img style="height: 35px; width: 105px; padding-bottom: 5px; margin-right: 10px;" src="https://res.cloudinary.com/dqqou4dzd/image/upload/v1768039088/Transition_Logo_White_Green_jgc7d6.png" alt="Transition Venture capital logo"></a>
      </li>
      <li class="horizontal-list">
        <a href="https://www.camden.gov.uk/" target="_blank" rel="noopener noreferrer"><img style="height: 35px; width: 117px; padding-bottom: 5px; margin-right: 10px;" src="https://res.cloudinary.com/dqqou4dzd/image/upload/v1768604319/camden_fstbgd.jpg" alt="Camden city council"></a>
      </li>
      <li class="horizontal-list">
        <a href="https://www.maylim.co.uk/" target="_blank" rel="noopener noreferrer"><img style="height: 35px; width: 110px; padding-bottom: 5px; margin-right: 10px;" src="https://res.cloudinary.com/dqqou4dzd/image/upload/v1768604326/maylim_g4bs1c.jpg" alt="Maylim"></a>
      </li>
    </ul>
  </div>
</div>