<div class="current-project-wrapper" aria-label="Current project page">
  <DonateButton />
  <div class="project-wrapper">
    <div class="image">
      <img src="images/vanished-sea-exhibition-lossless.webp"
        alt='Flier for the A Vanished Sea (Without a Trace) Multidisciplinary Residency Open Call for artists. The text with the information about the residency is located over a map that shows the receding shoreline in Rye around Camber Castle. In the bottom right corner is a red circle with a blue outline of a sheep.'>
    </div>
    <div class="text">
      <h5>Opening hours: <b class='names'>Exhibition Sat & Sun 12-5 pm / Installation daily</b></h5>
      <h5>Location: <b class='names'>BridgePoint Rye Rock Channel TN31 7DE & Rye Harbour Nature Reserve TN31 7TX</b>
      </h5>
      <p>This exhibition, together with <i>The Beacon</i>, a temporary installation at Rye Harbour Nature Reserve, are
        the
        culmination of the <LinkTo @route="projects" class="a">Climate Art Residency</LinkTo>. Immersing themselves
        in Rye’s life, Alistair Debling, Joseph Williams, and Mo Langmuir have produced subtle context-responsive work,
        reflecting diverse voices from across the local community. The analytical gaze of <i>A Vanished Sea</i> is
        directed at
        the interconnected relationship between people and their environment and the interplay between place and space,
        exploring the profound ways in which the retracted sea shaped the fortunes and urban ecosystem of the ancient
        town of Rye.</p>
      <p>These themes are echoed in the works by The Bartlett School of Architecture students <a
          href="https://www.instagram.com/_biophile_/?hl=en" target="_blank" rel="noopener noreferrer" class="a">(UG2,
          BSc
          Architecture Unit)</a>. Working with biomaterials, the students explore architecture’s role within ecology,
        creating spaces that encourage us to consider our sense of place within the biosphere.</p>
      <div class="sponsors">
      </div>
      <div class="partner-logos">
        <a href="https://bridgepointrye.com/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="logo/logo-bridgepoint.png"
            alt="Bridge Point Rye text on a blue background and the art center building."></a>

        <a href="https://sussexwildlifetrust.org.uk/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="logo/logo-sussex-wild-trust.png"
            alt="A black square with a badger with the words the wild life trusts. Underneath the black square are the words Sussex Wildlife Trust."></a>

        <a href="https://www.akt-uk.com/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="logo/logo-AKTTwo.png" alt="Akt II London the architectual firm."></a>

        <a href="https://www.ucl.ac.uk/bartlett/architecture/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="logo/logo-bsa.png" alt="Barlett School of Architecture"></a>
      </div>
    </div>
    <div class="past-project-link">
      <LinkTo @route="projects" class="a">
        <h3>Residency</h3>
      </LinkTo>
    </div>
  </div>
</div>