<div class="current-project-wrapper" aria-label="Current project page">
  <DonateButton />
  <div class="project-wrapper">
    <div class="image">
      <img src="exhibition.jpeg"
        alt='Flier for the A Vanished Sea (Without a Trace) Multidisciplinary Residency Open Call for artists. The text with the information about the residency is located over a map that shows the receding shoreline in Rye around Camber Castle. In the bottom right corner is a red circle with a blue outline of a sheep.'>
    </div>
    <div class="text">
      <div class="address">
        <p class="names">Address:</p>
        <p>BridgePoint Rye Rock Channel TN31 7DE</p>
        <p>and</p>
        <p>Rye Harbour Nature Reserve TN31 7TX</p>
      </div>
      <p>This Exhibition is the outcome of <LinkTo @route="projects" class="names">A Vanished Sea (Without a Trace)
          Residency
        </LinkTo>
      </p>
      <div class="sponsors">
      </div>
      <div class="partner-logos">
        <a href="https://bridgepointrye.com/" target="_blank" rel="noopener noreferrer">
          <img src="logo-bp.png" alt="Bridge Point Rye text on a blue background and the art center building."></a>

        <a href="https://sussexwildlifetrust.org.uk/" target="_blank" rel="noopener noreferrer">
          <img src="logo-swt.png"
            alt="A black square with a badger with the words the wild life trusts. Underneath the black square are the words Sussex Wildlife Trust."></a>

        <a href="https://www.akt-uk.com/" target="_blank" rel="noopener noreferrer">
          <img src="AKTTwo.png" alt="Akt II London the architectual firm."></a>

        <a href="https://www.ucl.ac.uk/bartlett/architecture/" target="_blank" rel="noopener noreferrer">
          <img src="bsa.png" alt="Barlett School of Architecture"></a>
      </div>
    </div>
    <div class="past-project-link">
      <LinkTo @route="past-projects" class="a">
        <h3>Past Projects</h3>
      </LinkTo>
    </div>
  </div>
</div>