<div class="homewrapper" aria-label="Home Page" tabindex="0">
  <img class="project-logo" src="climate-art-color.svg" alt="This is the homepage of the project Climate Art. Climate Art is an interdisciplinary public art platform focused on
        climate change. Our participatory projects facilitate active cooperation between
        communities, artists and scientists.">
  <div class="overlay">
    <div class="homepage-text">
      <h1>CLIMATE ART</h1>
      <p>
        is an interdisciplinary public art platform focused on
        climate change. Our participatory projects facilitate active cooperation between
        communities, artists, and scientists.
      </p>
    </div>
  </div>
</div>