<div class="homewrapper" aria-label="Home Page">
  <div class="text" aria-label="Description of Climate Art">
    <p>
    <h1>CLIMATE ART</h1>
    is an interdisciplinary public art platform focused on
    climate change. Our participatory projects facilitate active cooperation between
    communities, artists and scientists.
    </p>
  </div>
</div>