<div class="wrapper">
  <h1>CLIMATE ART</h1>
  <div class="text">
    <p>
      <bold>CLIMATE ART</bold> is an interdisciplinary public art platform and festival focused on
      climate change. Our participatory projects facilitate active cooperation between
      communities, artists and scientists.
    </p>
  </div>
</div>