<div class="wrapper">
  <div class="text">
    <p>
    <h1>CLIMATE ART</h1> is an interdisciplinary public art platform and festival focused on
    climate change. Our participatory projects facilitate active cooperation between
    communities, artists and scientists.
    </p>
  </div>
</div>