<p>CLIMATE ART is an interdisciplinary public art platform and festival focused on
  climate change. Our participatory projects facilitate active cooperation between
  communities, artists and scientists.</p>