<div class="homewrapper" aria-label="Home Page">
  {{!-- <Circles /> --}}
  {{!-- <div class="text" aria-label="Description of Climate Art">
    <h1>CLIMATE ART</h1>
    <p>
      is an interdisciplinary public art platform focused on
      climate change. Our participatory projects facilitate active cooperation between
      communities, artists and scientists.
    </p>
  </div> --}}
  {{!-- <div class="hover_img">
    <p>
    <div class='project-text'>Show Image</div><span><img src="ca-cloud-logo-color.png" alt="image"
        height="100" /></span></p>
  </div> --}}
  <div class="container">
    <img class="project-logo" src="ca-cloud-logo-color.png" alt="Avatar" class="image">
    <div class="overlay">
      <div class="homepage-text">
        <h1>CLIMATE ART</h1>
        <p>
          is an interdisciplinary public art platform focused on
          climate change. Our participatory projects facilitate active cooperation between
          communities, artists and scientists.
        </p>
      </div>
    </div>
  </div>
</div>