<div>
  WHO WE ARE

  Our practice stems from the understanding of ‘public art’ as a form of meaningful
  engagement with diverse publics. Climate Art is a space for resident groups, artists
  and scientists to come together.

  WHAT WE DO

  We inspire pro-environmental behaviour
  At Climate Art, we encourage long-term, sustainable transformation through
  participatory public art that motivates us all to make positive adjustments to our daily
  lives.
  We create space for dialogue
  Hearing from people whose livelihoods may be directly affected by coastal erosion,
  air pollution or flooding is immensely important to a shared understanding of climate
  change. Only by working together can communities, artists and scientists create
  innovative solutions.
  We promote sustainability
  Understanding our environmental impact is central to Climate Art. We will continue to
  seek innovative ways to reduce our carbon footprint, adapting the approach to our
  practice.
</div>