<div class="wrapper" aria-label="Mission page">
  <Circles />
  <div class="text">
    <h2>WHO WE ARE</h2>
    <p> Our practice stems from the understanding of ‘public art’ as a form of meaningful engagement with diverse
      publics. Climate Art is a space for resident groups, artists, and scientists to come together.</p>
    <h2>WHAT WE DO</h2>
    <ul>
      <li><span>
          <h3>We inspire pro-environmental behaviour</h3>
          <p>At Climate Art, we encourage long-term, sustainable transformation through participatory public art that
            motivates
            us all to make positive adjustments to our daily lives.</p>
        </span>
      </li>
      <li><span>
          <h3>We create space for dialogue</h3>
          <p>Hearing from people whose livelihoods may be directly affected by coastal erosion, air pollution or
            flooding
            is
            immensely important to our understanding of climate change. Only by working together can communities,
            artists
            and
            scientists create innovative solutions.</p>
        </span>
      </li>
      <li><span>
          <h3>We promote sustainability</h3>
          <p>Understanding our environmental impact is central to Climate Art. We will continue to seek innovative ways
            to
            reduce our carbon footprint, adapting the approach to our practice.</p>
        </span>
      </li>
    </ul>
    <p class='cic'>Climate Art CIC is a not-for-profit Community Interest Company, registered in England and Wales.
      Company no.
      12952770</p>
  </div>
</div>