<div class="wrapper" aria-label="opportunities page">
  <CirclesTwo />
  <div class="deadline">Deadline to apply: 5 March 2021, Midnight</div>
  <div class="text">
    <h2>Communications and Social Media Intern</h2>
    <p>We are looking for a communications and social media intern to work on our major project,
      a three-month residency A Vanished Sea (Without a Trace).</p>
    <h3>The post holder will:</h3>
    <ul>
      <li><span>
          <p>Be responsible for both content ideation and content creation to promote Climate
            Art brand and A Vanished Sea (Without a Trace) project</p>
        </span>
      </li>
      <li><span>
          <p>Work alongside Climate Art Directors to research, develop, plan, and schedule
            engaging content</p>
        </span>
      </li>
      <li><span>
          <p>Draft copy, curate content, design graphics &amp; videos, and post to Climate Art’s
            social media pages</p>
        </span>
      </li>
      <li><span>
          <p>Work with Climate Art Directors to put together and distribute press releases and
            digital PR packs, work on placing stories in local, regional and national press and
            media, and help to maintain relationships with the press and journalists</p>
        </span>
      </li>
      <li><span>
          <p>Coordinate with project partners for social media and press activity</p>
        </span>
      </li>
    </ul>
    <h3 class='requirements'>Requirements:</h3>
    <div class='columns'>
      <ul>
        <h3>Essential:</h3>
        <li><span>
            <p>Passion for combatting climate change</p>
          </span>
        </li>
        <li><span>
            <p>Excellent written and spoken English</p>
          </span>
        </li>
        <li><span>
            <p>Interest and knowledge of the arts</p>
          </span>
        </li>
        <li><span>
            <p>Confident user of all major social media platforms</p>
          </span>
        </li>
        <li><span>
            <p>Proactive attitude and creative flair</p>
          </span>
        </li>
        <li><span>
            <p>Ability to work independently with minimal supervision</p>
          </span>
        </li>
        <li><span>
            <p>Right to work in the UK</p>
          </span>
        </li>
      </ul>
      <ul>
        <h3>Desirable:</h3>
        <li><span>
            <p>InDesign and/or Photoshop skills</p>
          </span>
        </li>
        <li><span>
            <p>Based in Rye or East Sussex area</p>
          </span>
        </li>
        <li><span>
            <p>Previous experience in communications and social media management</p>
          </span>
        </li>
      </ul>
    </div>
    <p>Work pattern will be one 8hr working day a week for four months (mid-March - mid-July
      2021)</p>
    <p> Work will be mostly from home, with trips to Rye, particularly in the latter half of the
      project required</p>
    <p> Remuneration: £9.50 p/h, travel costs will be covered and per diem offered for workdays in
      Rye</p>
    <h3 class="opportunities-h3">The successful candidate will benefit from:</h3>
    <ul>
      <li><span>
          <p>Working closely with participating artists, researchers and creative practitioners</p>
        </span>
      </li>
      <li><span>
          <p>Being part of an innovative multidisciplinary project that aims to generate a
            broader discussion of climate change and promote long-term, sustainable
            transformation</p>
        </span>
      </li>
      <li><span>
          <p>Gaining experience in digital and media communications</p>
        </span>
      </li>
      <li><span>
          <p>Growing their confidence and skills and their professional network</p>
        </span>
      </li>
      <li><span>
          <p>Working with a passionate, small team of creative entrepreneurs</p>
        </span>
      </li>
      <li><span>
          <p>An opportunity to make an impact on a young organisation</p>
        </span>
      </li>
    </ul>
    <div class='to-apply'>
      <p>To apply, please send your CV and cover letter (one page max) to <a
          href="mailto:info@climateart.org.uk">info@climateart.org.uk</a></p>
      <p>Deadline to apply 5 March, Midnight</p>
      <p>Interviews will be held on week commencing 15 Match</p>
    </div>
  </div>
</div>