<div class="wrapper" aria-label="Past project page">
  <Circles />
  <div class="text">
    <h1>PAST EVENTS & PROJECTS</h1>
    <div>
      <h2>JOSEPH’S CADDY WAGON</h2>
      <p>Dates: <b class='names'>2-3 May 2021</b></p>
      <p>Time: <b class='names'>All day</b></p>
      <p>Location: <b class='names'>Outside Bridgepoint Rye, Rock Channel (via St Margaret’s Terrace), Rye, TN31 7DE</b>
      </p>
      <details>
        <summary>Joseph Williams is an East Sussex artist with a background in architectural design. He is passionate
          about the potential of bamboo as a sustainable and stunning building material for the future.</summary>
        <p>Working in consultation with the groundbreaking design-led engineering firm <a href="https://www.akt-uk.com/"
            target="_blank" rel="noopener noreferrer">AKT II</a>, he will build a temporary
          bamboo structure in the Rye Harbour Nature Reserve. Responding to the local landscape, it will serve as a
          space for different community groups to come together.</p>
        <p>Want to learn more about the power of bamboo? Visit us at the Bridgepoint Creative Arts Centre on 2-3 May,
          where you’ll have the opportunity to see an example of Joseph’s past work and chat to him about his creative
          process.</p>
      </details>
    </div>
    <div>
      <h2>A STUDIO SESSION WITH MO AND ALISTAIR</h2>
      <p>Dates: <b class='names'>3 May 2021</b></p>
      <p>Time: <b class='names'>6:00-7:00pm BST</b></p>
      <p>Location: <b class='names'><a href="https://us02web.zoom.us/j/81175849692" target="_blank"
            rel="noopener noreferrer">Sign up on Zoom</a>; <a
            href="https://www.facebook.com/climateartuk/?modal=suggested_action&notif_id=1618608308928435&notif_t=page_user_activity&ref=notif"
            target="_blank" rel="noopener noreferrer">Watch live on Facebook</a></b>
      </p>
      <p>Moderated by Climate Art Curator Dzmitry Suslau</p>
      <details>
        <summary>Mo Langmuir strives to break down the binary between art and science through collaboration with local
          communities. Alistair Debling examines diverse themes through his interdisciplinary work, from queer nightlife
          and ecology to the military-industrial complex and its architectures.</summary>
        <p>Mo’s work at Climate Art will centre around balloon mapping and marine sampling. Working with Rye’s resident
          groups to map out sites for biological sampling, Mo will use microscopy to generate beautiful interpretations
          of the invisible elements of the local landscape threatened by climate change.</p>
        <p>Mo’s studio is half research lab, half artist atelier, and on 3 May, she’ll
          be opening it up to the public for a virtual tour, sharing methodologies, sampling
          equipment, mapping tools and sketches.</p>
        <p> Alistair’s project will investigate Rye’s rich military history as a fortified town,
          in tandem with its historical and contemporary energy and environmental defence
          infrastructure. This work will help us (re)think what defence, protection and
          fortification of the landscape mean in the age of climate breakdown.</p>
        <p>To ensure his artwork reflects and resonates with the community in Rye, Alistair is
          particularly interested in hearing local perspectives (from across Rye and Dungeness)
          on what it means (or has meant) to protect the coastline. He’ll be hosting an open
          conversation about the themes of his project and sharing new aerial photography of
          the local landscape. <b>This is your opportunity to help influence the trajectory of
            Alistair’s artwork!</b></p>
      </details>
    </div>
    <div>
      <h2>Are We COPing?</h2>
      <h4>Transforming Artistic Engagement Around COP26 and Beyond.</h4>
      <p>Dates: <b class='names'>8 September 2020</b></p>
      <p>Time: <b class='names'>7:00 pm GMT</b></p>
      <p>Location: <b class='names'>Zoom</b>
      </p>
      <details>
        <summary>We are delighted to announce this digital workshop generously supported by
          Creative Carbon Scotland. Created by Matteo Menapace, a game designer formerly
          in residence at the V&amp;A, it will provide a structured format for creative practitioners,
          researchers and policymakers to discuss urgent challenges ahead of the UN Climate
          Change Conference (COP26) due to take place in Glasgow in November 2021.</summary>
        <p>Set up as a role-playing game, this workshop will enable participants to step out of
          their daily roles and imagine solutions to shared problems. After all, play, as once
          noted by cultural historian Huizinga, is &#39;older than culture.&#39;</p>
        <p>Further details can be found <a
            href='https://www.creativecarbonscotland.com/event/green-tease-are-we-coping/' target="_blank"
            rel="noopener noreferrer">here</a>.</p>
      </details>
    </div>
  </div>
</div>