<div class="current-project-wrapper" aria-label="Current project page">
  <div class="project-wrapper">
    <div class="image">
      <img src="https://i.imgur.com/ha1Ifil.jpg"
        alt='Flier for the A Vanished Sea (Without a Trace) Multidisciplinary Residency Open Call for artists. The text with the information about the residency is located over a map that shows the receding shoreline in Rye around Camber Castle. In the bottom right corner is a red circle with a blue outline of a sheep.'>
    </div>
    <div class="text">
      <p>Climate Art and Bridgepoint Rye, in collaboration with Sussex Wildlife Trust, are delighted to announce a
        multidisciplinary residency for artists, creative practitioners, and environmental
        researchers to work on a site-responsive project during a three-month residency at Bridgepoint Creative Centre
        in Rye, East Sussex.</p>
      <p><b>The residency will take place in April – June 2021.</b></p>
      <p>The programme – A Vanished Sea (Without a Trace) –
        has been generously supported by Bridgepoint Rye and the Kowitz Family Foundation.</p>

      <h2>ABOUT THE RESIDENCY</h2>
      <p> The picturesque ruin of Camber Castle lies peacefully amid stretches of marshland over 1.5 km from the coast.
        It seems hard to believe that the splashing of the sea was once a constant sound here, rather than the bleating
        of sheep. Built on a shingle spit during Henry VIII’s rule, Camber Castle used to be an elaborate artillery
        fortification designed to defend the harbour and the towns of Rye and Winchelsea. Less than a hundred years
        after its completion, however, it was decommissioned – the receding sea left the castle inland, stranded and
        useless.</p>
      <p>During the residency, participants are invited to explore the broad themes of transience, ephemerality and
        perishability. From species extinction and habitat destruction to the impermanence of our familiar way of life,
        the discussion of these subjects has already become a part of our everyday conversations as we reflect on the
        changes forced upon us by the Covid-19 pandemic. Is a more nuanced understanding of transience a cause for
        resignation or an invitation to transform the relationship between human beings and other species?</p>
      <p>The programme – A Vanished Sea (Without a Trace) – will see 3 UK-based practitioners develop their
        site-responsive projects during a three-month residency at Bridgepoint Creative Centre located in Rye, East
        Sussex. Residents will also have access to Sussex Wildlife Trust’s sites located in Rye and an opportunity to
        work with the organisation’s staff and volunteers.</p>

      <h2>THE RESIDENTS</h2>
      <h3 class='names'><a href="https://www.instagram.com/aadebling/?hl=en" target="_blank"
          rel="noopener noreferrer">Alistair
          Debling</a></h3>
      <p>Unexpected equivalences—between predator drones and green screens, disco balls and hellfire missiles,
        nightclubs and war zones—often lie at the heart of Alistair Debling’s research-based practice. Though his work
        pursues diverse lines of inquiry, from queer nightlife and ecology to the military-industrial-complex and its
        architectures, he is continually drawn to the question of what it means to survive. In the context of a global
        pandemic, amid ecological breakdown and perpetual remote-controlled warfare, he asks: what might survival look
        like?</p>
      <p>With an experimental approach to form, Debling’s practice encompasses a broad range of time-based media, from
        video installation and live performance to alternative eco-film processes and AI-generated imagery. His work has
        been presented by the Whitney Museum of American Art (New York), Hauser and Wirth (Somerset) and the National
        Theatre of Great Britain (London). He has won support from the Goethe Institut and the British Council and has
        been awarded the Red Mansion Prize (2018), Erna Plachte Award (2017) and the Louis Sudler Prize (2016).</p>

      <h3 class='names'><a href="https://www.instagram.com/molangmuir/?hl=en" target="_blank"
          rel="noopener noreferrer">Mo
          Langmuir</a></h3>
      <p>Mo is a multi-disciplinary environmentalist in the movement for climate justice. Her background in
        environmental biology wholly informs her creative practice and Mo often combines scientific methods with
        artistic communication to connect communities to weird and wonderful elements of nature. Her focus is always on
        the hyper-local - it's wrong to assume that people growing up inner city can connect with melting ice caps in
        Antarctica. Her project 'Mapping Greenness' used a giant helium balloon to map, analyse and artistically respond
        to greenspace in the public realm in Nottingham. Art is the best tool for creatively imagining a future where
        humans and nature live symbiotically. Once we imagine, we have something to work towards. And this has never
        been more important.</p>

      <h3 class='names'><a href="https://www.bamboology.co.uk/" target="_blank" rel="noopener noreferrer">Joseph
          Williams</a></h3>
      <p>Joseph is an Architectural Designer and the creator of Bamboology, designing and constructing
        unique environments from Bamboo and other organic material.
        Joseph completed his undergraduate architecture studies at Oxford Brookes University. He then worked in a London
        based architectural practice before heading to Joshua Tree, California to build with the artist Gerard Minikawa.
        This period has hugely influenced Joseph's present work, by being immersed in a world of bamboo craftsmanship
        and pioneering shade structures.
        Upon his return to the UK, Joseph gained more experience as an Architectural Designer after moving back to his
        hometown of Rye and Hastings.</p>
      <p>Joseph is passionate about harnessing the incredible natural properties within nature's design through low
        energy constriction techniques.  Recently this has manifested its self in the design and construction of The
        Traveling Temple at Great Dixter House and Gardens. He sees each project as an opportunity to engage in the
        unique qualities of a site and the socially sensitive process of place making. It is a vision of living, loving,
        and dancing lightly on the earth with bamboo and colour.</p>

      <div class="covid">
        <h3>COVID-19</h3>
        <p><i>We are committed to ensuring the safety of all residents, especially during the
            ongoing Covid-19 outbreak. We shall therefore be keeping the programme dates and
            format under constant review, in line with the latest governmental guidance. At
            the same time, we believe that now, as never before, the need for the exchange of
            ideas and community-focused projects is of paramount importance.</i></p>
      </div>

      <h2>PROJECT ADVISORY BOARD</h2>
      <p><b class='names'>Dr Helene Burningham</b>, Coastal Scientist, Associate Professor in Physical Geography,
        University College
        London
        <br />
        <b class='names'>Gonzalo Herrero Delicado</b>, Curator, Architecture Programme, The
        Royal Academy
        <br />
        <b class='names'>David Kowitz</b>, Founder, Bridgepoint Rye
        <br />
        <b class='names'>Tim Redfern</b>, Artist and Community Activist
        <br />
      </p>
      <div class="sponsors">
        <h2>PROJECT PARTNERS</h2>
        <p> Bridgepoint is a new arts complex located in Rye. It is set in the context
          of a regeneration project, being undertaken by Martello Developments, which
          aims to convert a disused industrial part of the historic town into a
          vibrant campus, including an arts complex as well as housing and commercial
          activity.</p>
        <p> It is intended that the 20,000-square-foot Bridgepoint arts building will
          encompass artists’ studios, a large performance and rehearsal space, a
          commercial gallery, as well as other internal and external exhibition
          spaces.</p>
        <p> The primary mission of the project is to provide a well-equipped and safe
          space for artists in an array of disciplines to contemplate and create,
          hopefully drawing inspiration from the area’s exceptional history and
          natural beauty.</p>
        <br />
        <p>Structural engineering: AKT II</p>
      </div>
      <div class="partner-logos">
        <a href="https://bridgepointrye.com/" target="_blank" rel="noopener noreferrer">
          <img src="logo-bp.png" alt="Bridge Point Rye text on a blue background and the art center building."></a>

        <a href="https://sussexwildlifetrust.org.uk/" target="_blank" rel="noopener noreferrer">
          <img src="logo-swt.png"
            alt="A black square with a badger with the words the wild life trusts. Underneath the black square are the words Sussex Wildlife Trust."></a>

        <a href="https://www.akt-uk.com/" target="_blank" rel="noopener noreferrer">
          <img src="AKTTwoLondon.png" alt="A square logo of Akt II London the architectual firm."></a>

        <a href="https://bamboologic.eu/" target="_blank" rel="noopener noreferrer">
          <img src="Bamboologic.png" alt="Bamboologic logo."></a>
      </div>
    </div>
    <div class="past-project-link">
      <LinkTo @route="past-projects" class="a" aria-label="Past-Projects">
        <h3>Past Projects</h3>
      </LinkTo>
    </div>
  </div>
</div>