<div class="wrapper">
  <h1>PROJECTS</h1>
  <div class="text">
    <p>
      After 34 years at NASA, Jackson had earned the most senior engineering title available. She realized she could not
      earn further promotions without becoming a supervisor. She accepted a demotion to become a manager of both the
      Federal Women's Program, in the NASA Office of Equal Opportunity Programs, and of the Affirmative Action Program.
      In this role, she worked to influence the hiring and promotion of women in NASA's science, engineering, and
      mathematics careers.
    </p>
  </div>
</div>