<div class="current-project-wrapper" aria-label="Current project page">
  <div class="project-wrapper">
    <div class="announcement">
      <h2>Shortlist announcement w/c 30 Nov</h2>
    </div>
    <div class="image">
      <img src="https://i.imgur.com/DTCtPQy.jpg"
        alt='Flier for the A Vanished Sea (Without a Trace) Multidisciplinary Residency Open Call for artists. The dealine for the residency is 8th of November 23:59 EST. The text with the information about the residency is located over a map that shows the receding shoreline in Rye around Camber Castle. In the bottom right corner is a red circle with a blue outline of a sheep.'>
    </div>
    <div class="text">
      <p>Climate Art and Bridgepoint Rye, in collaboration with Sussex Wildlife Trust, are
        delighted to announce a call for applications from artists, creative
        practitioners, and environmental researchers to work on a site-responsive project
        during a three-month residency at Bridgepoint Creative Centre in Rye, East
        Sussex.Participants are invited to respond to the residency’s theme of transience,
        outlined below. Each applicant should clearly indicate how, during the three
        months of the programme, they will engage with the local community and connect
        with the ecological landscape of Rye.</p>
      <p>The opportunity is open to 3 UK-based practitioners, with one space reserved for a
        Sussex-based participant. The residents will be provided with free
        accommodation and studio space for the duration of the residency. Each participant
        will receive a monthly stipend of £500 and a production budget of £2,000.</p>
      <p><b>The
          residency will take place in January – March 2021. The deadline for applications
          is 8 November 2020 at 23:59.</b></p>
      <p>The programme – A Vanished Sea (Without a Trace) –
        has been generously supported by Bridgepoint Rye and the Kowitz Family Foundation.</p>

      <div class="covid">
        <h3>COVID-19</h3>
        <p><i>We are committed to ensuring the safety of all residents, especially during the
            ongoing Covid-19 outbreak. We shall therefore be keeping the programme dates and
            format under constant review, in line with the latest governmental guidance. At
            the same time, we believe that now, as never before, the need for the exchange of
            ideas and community-focused projects is of paramount importance.</i></p>
      </div>

      <h2>ABOUT THE RESIDENCY</h2>
      <p> The picturesque ruin of Camber Castle lies peacefully amid stretches of marshland
        over 1.5 km from the coast. It seems hard to believe that the splashing of the sea
        was once a constant sound here, rather than the bleating of sheep. Built on a
        shingle spit during Henry VIII’s rule, Camber Castle used to be an elaborate
        artillery fortification designed to defend the harbour and the towns of Rye and
        Winchelsea. Less than a hundred years after its completion, however, it was
        decommissioned – the receding sea left the castle inland, stranded and useless.</p>
      <p>During the residency, participants are invited to explore the broad themes of
        transience, ephemerality and perishability. From species extinction and habitat
        destruction to the impermanence of our familiar way of life, the discussion of
        these subjects has already become a part of our everyday conversations as we
        reflect on the changes forced upon us by the Covid-19 pandemic. Is a more nuanced
        understanding of transience a cause for resignation or an invitation to transform
        the relationship between human beings and other species?</p>
      <p>The programme – A Vanished Sea (Without a Trace) – will see 3 UK-based
        practitioners (with one place reserved for a Sussex-based participant)
        develop their site-responsive projects during a three-month residency at
        Bridgepoint Creative Centre located in Rye, East Sussex. Residents will
        also have access to Sussex Wildlife Trust’s sites located in Rye and an
        opportunity to work with the organisation’s staff and volunteers. Climate
        Art is a space for resident groups, artists and scientists to come
        together. Our practice stems from the understanding of public art as a form
        of meaningful engagement with diverse publics. That is why, at the
        application stage, all entrants are required to demonstrate a commitment to
        engagement with the local community, the ecological landscape of the town
        and its harbour.</p>
      <p> Applications are invited from practitioners working in any creative
        discipline (including, but not limited to, visual arts, architecture,
        design, performance art, film, dance, music, creative writing and others),
        as well as environmental-change researchers. Proposals may vary from
        detailed projects to preliminary ideas. Successful applicants will be
        expected to demonstrate clearly how they intend to develop their creative
        or academic work in response to the residency’s theme. While hoping that
        the three residents will find it inspiring to work alongside each other,
        Climate Art does not require a collaborative project to be the outcome of
        the residency.</p>
      <p> The residency will run from mid-January to mid-March 2021 (exact dates
        TBC). Residents will benefit from free accommodation and individual
        studio space for the duration of the residency. Each artist will receive a
        monthly stipend of £500 and a production budget of £2,000. We want the
        participants to make the most of the residency opportunity. It is
        understood that they may need to continue with some work or study
        commitments during the programme. We are happy to consider flexible
        arrangements, hoping that the residents will be in Rye for much of the
        working week and will take part in open studios and other events as part of
        the programme.</p>

      <h2>TO APPLY</h2>
      <p>
        <b>To apply for this opportunity, please submit the following:</b>
      <ul>
        <li><span> <a href="https://app.box.com/s/slzp7j8z87fw0hb352xczxl4pnf2hbmd" target="_blank"
              rel="noopener noreferrer">A
              completed application form.</a>This
            includes a
            proposal of how you
            will develop a response to the residency’s theme, taking into
            consideration the local context and including ways to involve the
            community (max. 500 words), in Word or PDF format</span></li>
        <li><span>A CV of no more than two pages’ length, in Word or PDF format</span></li>
        <li><span>(For artists) a portfolio of no more than five pages, including
            examples of recent work, in Word or PDF format</span></li>
      </ul>
      </p>
      <p><b>The closing deadline for applications is 8 November 2020 at 23:59.
          <br />
          Please submit applications by email to <a href="mailto:info@climateart.org.uk">info@climateart.org.uk</a>
          <br />
          Interviews will take place in the weeks commencing 16 &amp; 23 November 2020.</b></p>

      <h2>SELECTION PANEL</h2>
      <p><b>Dzmitry Suslau</b>, Founding Director &amp; Curator, Climate Art
        <br />
        <b>Jevgenija Ravcova</b>, Managing Director, Climate Art
        <br />
        <b>David Kowitz</b>, Founder, Bridgepoint Rye
        <br />
        <b>Gonzalo Herrero Delicado</b>, Curator, Architecture Programme, The
        Royal Academy
        <br />
        <b>Tim Redfern</b>, Artist and Community Activist
        <br />
        <b>Dr Helene Burningham</b>, Coastal Scientist, Associate Professor in Physical Geography, University College
        London
        <br /></p>
      <h2>KEY DATES</h2>
      <p><b>Deadline for applications 8 November 2020 at 23:59.</b>
        <br />
        <b>Interviews w/c 16 &amp; 23 November 2020</b></p>
      <div class="sponsors">
        <h3>ABOUT BRIDGEPOINT RYE</h3>
        <p> Bridgepoint is a new arts complex located in Rye. It is set in the context
          of a regeneration project, being undertaken by Martello Developments, which
          aims to convert a disused industrial part of the historic town into a
          vibrant campus, including an arts complex as well as housing and commercial
          activity.</p>
        <p> It is intended that the 20,000-square-foot Bridgepoint arts building will
          encompass artists’ studios, a large performance and rehearsal space, a
          commercial gallery, as well as other internal and external exhibition
          spaces.</p>
        <p> The primary mission of the project is to provide a well-equipped and safe
          space for artists in an array of disciplines to contemplate and create,
          hopefully drawing inspiration from the area’s exceptional history and
          natural beauty.</p>
        <p><a href="https://bridgepointrye.com/" target="_blank" rel="noopener noreferrer">Find out more about
            Bridgepoint
            Rye.</a></p>

        <h3>ABOUT SUSSEX WILDLIFE TRUST</h3>
        <p> Sussex Wildlife Trust is a conservation charity for everyone who cares
          about nature in Sussex. We focus on protecting the wonderfully rich natural
          life that is found across our towns, countryside and coast.</p>
        <p> By working alongside local people, we create opportunities for us all to
          connect with nature, and for nature to thrive in even the most unlikely
          places. Together we can make sure that future generations living in Sussex
          will be able to enjoy the sense of wonder and well-being that nature
          offers. Sussex Wildlife Trust manages 465-hectare Rye Harbour Nature
          Reserve, which includes Camber Castle and Castle Water.</p>
        <p><a href="https://sussexwildlifetrust.org.uk/" target="_blank" rel="noopener noreferrer">Find out more about
            Sussex Wildlife Trust.</a></p>
      </div>
      <div class="partner-logos"><a href="https://bridgepointrye.com/" target="_blank" rel="noopener noreferrer"><img
            src="logo-bp.png" alt="Bridge Point Rye text on a blue background and the art center building."></a><a
          href="https://sussexwildlifetrust.org.uk/" target="_blank" rel="noopener noreferrer"><img src="logo-swt.png"
            alt="A black square with a badger with the words the wild life trusts. Underneath the black square are the words Sussex Wildlife Trust."></a>
      </div>
    </div>
    <div class="past-project-link">
      <LinkTo @route="past-projects" class="a" aria-label="Past-Projects">
        <h3>Past Projects</h3>
      </LinkTo>
    </div>
  </div>
</div>