<div class="wrapper" aria-label="Project page">
  <div class="project-wrapper">
    <Circles />
    <h2>Are We COPing?</h2>
    <h4>Transforming Artistic Engagement Around COP26 and Beyond.</h4>
    <div class="text">
      <img src='are-we-coping.png'
        alt='Flier for the Are We Coping? ideation game project. The workshop game will take place on Zoom on the 8th of September at 7pm bst.'>
      <p>
        We are delighted to announce this digital workshop generously supported by
        Creative Carbon Scotland. Created by Matteo Menapace, a game designer formerly
        in residence at the V&amp;A, it will provide a structured format for creative practitioners,
        researchers and policymakers to discuss urgent challenges ahead of the UN Climate
        Change Conference (COP26) due to take place in Glasgow in November 2021.
      </p>
      <p>Set up as a role-playing game, this workshop will enable participants to step out of
        their daily roles and imagine solutions to shared problems. After all, play, as once
        noted by cultural historian Huizinga, is &#39;older than culture.&#39;</p>
      <p>Further details can be found <a href='https://www.creativecarbonscotland.com/event/green-tease-are-we-coping/'
          target="_blank" rel="noopener noreferrer">here</a>.</p>
      <p>Sign up for a free space for the event on <a
          href='https://www.eventbrite.co.uk/e/green-tease-are-we-coping-tickets-114537342274' target="_blank"
          rel="noopener noreferrer">Eventbrite</a>.</p>
    </div>
  </div>
</div>