<div class="current-project-wrapper">
  <DonateButton />
  <div class="project-wrapper">
    <div class="image">
      <img src="images/tour-map-web-two-lossless.webp"
        alt='Map of the Against Our Vanishing: A Queer Audio Trail of Rye'>
    </div>
    <div class="text">
      <h2>Against Our Vanishing: A Queer Audio Trail of Rye</h2>
      <div class="tour-text">
        <p>Date: <b class='names'><a href="audio/vanishing-tour.mp3" download>Always available just download the audio
              trail</a></b></p>
        <p>Location: <b class='names'>In the town of Rye or anywhere you are</b></p>
        <p>Against Our Vanishing is a free audio trail that uncovers the LGBTQ+ history and culture of Rye. Delve
          into the rich queer undercurrents of the town in the company of its famous writers and artists like Henry
          James and Radclyffe Hall. Walk in the footsteps of the queer people of Rye, whose lives are interwoven with
          its streets and East Sussex’s vanishing coastline.</p>
        <p>Against Our Vanishing is a Climate Art commission, created by Diarmuid Hester and produced by David Bramwell,
          generously supported by BridgePoint Rye and developed in partnership with the National Trust.
        </p>
        <p><a href="audio/vanishing-tour.mp3" download class="names">Download the trail</a></p>
        <p>iPhone users: Safari streams the audio trail file instead of downloading it. To minimise the risk of
          interruptions caused by signal dropout, download the file to your computer then transfer it to your iPhone via
          iTunes or similar.</p>
        <h3>Creative Team</h3>
        <p>The creator of Against Our Vanishing is academic, writer, and broadcaster, Dr Diarmuid Hester. Dr Hester
          researches LGBTQ+ culture and space at the University of Cambridge, and his work has been featured on BBC
          Radio 3 and Ireland’s RTÉ Radio 1. In 2020 he was named one of ten BBC New Generation Thinkers, defined as ‘an
          academic who brings the best of scholarly research to a broad audience’. Dr Hester’s new book, Nothing Ever
          Just Disappears: A New History of Queer Culture Through its Spaces will be published by Allen Lane/Penguin in
          2023.</p>
        <p>David Bramwell is an award-winning performer and producer who has worked with BBC Radio for many years. As a
          monologist he has toured several solo shows and performed at Soho Theatre, Somerset House, The De La Warr
          Pavilion, Tate St Ives, TEDx,WI, Idler Academy, MOMA, Wilderness and Port Eliot festivals and the Lowry
          Theatre.</p>
      </div>

      <div class="partner-logos">
        <a href="https://bridgepointrye.com/" target="_blank" rel="noopener noreferrer">
          <img src="logo/logo-bridgepoint.png"
            alt="Bridge Point Rye text on a blue background and the art center building."></a>

        <a href="https://www.nationaltrust.org.uk/" target="_blank" rel="noopener noreferrer">
          <img src="logo/logo-national-trust-logo.png" alt="National Trust"></a>
      </div>
    </div>
    <div class="past-project-link">
      <LinkTo @route="events" class="a">
        <h3>Events</h3>
      </LinkTo>
    </div>
  </div>
</div>