<div class="current-project-wrapper">
  <DonateButton />
  <div class="project-wrapper">
    <div class="image">
      <img src="tour-map-web.avif" alt='Map of the Against Our Vanishing: A Queer Audio Trail of Rye'>
    </div>
    <div class="text">
      <h2>Against Our Vanishing: A Queer Audio Trail of Rye</h2>
      <div class="tour-text">
        <p>Date: <b class='names'>Always available just download the audio tour</b></p>
        <p>Location: <b class='names'>In the town of Rye or anywhere you are</b></p>
        <p>Against Our Vanishing is a free audio trail that uncovers the LGBTQ+ history and culture of Rye. Delve
          into the rich queer undercurrents of the town in the company of its famous writers and artists like Henry
          James and Radclyffe Hall. Walk in the footsteps of the queer people of Rye, whose lives are interwoven with
          its streets and East Sussex’s vanishing coastline.</p>
        <p>Against Our Vanishing is a Climate Art commission, created by Diarmuid Hester and produced by David Bramwell,
          generously supported by BridgePoint Rye and developed in partnership with Lamb House/National Trust.
        </p>
        <p><a href="audio/vanishing-tour.mp3" download class="names">Download the tour</a></p>
        <p>iPhone users: Safari streams the audio trail file instead of downloading it. To minimise the risk of
          interruptions caused by signal dropout, download the file to your computer then transfer it to your iPhone via
          iTunes or similar.</p>
      </div>

      <div class="partner-logos">
        <a href="https://bridgepointrye.com/" target="_blank" rel="noopener noreferrer">
          <img src="logo-bp.png" alt="Bridge Point Rye text on a blue background and the art center building."></a>

        <a href="https://www.nationaltrust.org.uk/" target="_blank" rel="noopener noreferrer">
          <img src="national-trust-logo.png" alt="National Trust logo."></a>
      </div>
    </div>
    <div class="past-project-link">
      <LinkTo @route="events" class="a">
        <h3>Events</h3>
      </LinkTo>
    </div>
  </div>
</div>